<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyCast Redesign</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">    
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400,300,700&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
    <link href="css/custom/icheck/minimal/minimal.css" rel="stylesheet">
    <link href="css/custom/global.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  </head>
  <body>
	<div class="container">
		<header class="row">
			<div id="nav-top">
				<div class="pull-left">
					<div id="logo"><a class="noborder" href="#"><img src="images/logo.png"/></a></div>
				</div>
				<div class="pull-right">
					<div id="search">
						<form action="" method="GET">    
							<input id="nav-search" value="Поиск по сайту" required="required" onfocus="this.value = ''" onblur="if (this.value == '') {this.value = 'Поиск по сайту';}" class="form-control" name="Search[QUERY]" type="text">    
							<input type="submit" name="yt2" value="">    
						</form>
					</div>
					<div id="user">
						<a class="noborder"><img class="avatar img-circle" src="images/user-avatar.jpg"/></a>
						<a class="name" href="#">Александр Бугаев</a>
						<a class="noborder" href="#"><img src="images/i-logout.png"/></a>
					</div>
				</div>
			</div>
			<div id="nav-menu">
				<ul>
					<li><a href="">Главная</a></li>
					<li class="active"><a href="">Проекты</a></li>
					<li><a href="">Мероприятия</a></li>
					<li><a href="">FAQ</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
		</header>
		<section class="row" id="breadcrumbs">
			<div itemprop="breadcrumb">
				<a class="nohover" href="/">Главная</a><em>></em><span class="brtitle">Блог</span>
			</div>
		</section>
		<section class="row" id="content">
			<div class="col-md-2">
				<div class="pagehead"><div class="row title"><div class="tr"></div>Все новости</div></div>
				<div class="filter">
					<h6><img src="images/i-filter-search.png"/>По типам проектов</h6>
					 <ul>
					 	<li><a href="#">Реклама</a></li>
					 	<li><a href="#">Многосерийный фильм</a></li>
					 	<li><a href="#">Флешмоб</a></li>
					 	<li><a href="#">Реалити-шоу</a></li>
					 </ul>
				</div>
				<div class="filter">
					<h6><img src="images/i-filter-search.png"/>По типам проектов</h6>
					 <ul>
					 	<li><a href="#">Реклама</a></li>
					 	<li><a href="#">Многосерийный фильм</a></li>
					 	<li><a href="#">Флешмоб</a></li>
					 	<li><a href="#">Реалити-шоу</a></li>
					 </ul>
				</div>
				<div class="sticker">
					<div class="wrapper">
						<h3>Подсказка</h3>
						<div class="sticker_item">
							Здесь будет какой-нибудь текст в виде заметки слева или спрва
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div id="main">
					<div class="listhead">
						<div class="mainwrapper">
							<div class="pull-left">
								<h4>144 новости найдено</h4>
								<span class="location">В блоге easyCast</span>
							</div>
							<!--
							<div class="pull-right">
								<span class="on-map"><img src="images/i-map.png"/><a href="#">Посмотреть на карте</a></span>
							</div>
							-->
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="row news-list">
						<div class="item">
							<div class="n-item blue">
								<div class="row">
									<div class="news-image col-md-5">
										<div class="holder"><img src="images/sample9.jpg" /></div>
									</div>
									<div class="news-content col-md-7">
										<h2><a class="trans-underline" href="#">Первый пост</a></h2>
										<span class="news-date">19 февраля 2015</span>
										<div class="news-preview">
											<p>В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов.</p>
										</div>
										<div class="news-options">
											<i class="fa fa-comments"></i>8 комментариев
										</div>
										<div class="news-options">
											<i class="fa fa-info"></i><a href="#">Читать дальше</a>
											<i class="fa fa-play"></i><a href="#">Смотреть видео</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr class="colorgraph nomargin"/>
						<div class="item">
							<div class="n-item">
								<div class="row">
									<div class="news-image col-md-5">
										<div class="holder"><img src="images/sample10.jpg" /></div>
									</div>
									<div class="news-content col-md-7">
										<h2><a class="trans-underline" href="#">Второй пост</a></h2>
										<span class="news-date">21 января 2015</span>
										<div class="news-preview">
											<p>В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. </p>
										</div>
										<div class="news-options">
											<i class="fa fa-comments"></i>8 комментариев
										</div>
										<div class="news-options">
											<a href="#">Читать дальше</a>
											<a href="#">Смотреть видео</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="news-divider"></div>
						<div class="item">
							<div class="n-item">
								<div class="row">
									<div class="news-image col-md-5">
										<div class="holder"><img src="images/sample8.jpg" /></div>
									</div>
									<div class="news-content col-md-7">
										<h2><a class="trans-underline" href="#">Третий пост</a></h2>
										<span class="news-date">21 января 2015</span>
										<div class="news-preview">
											<p>В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. </p>
										</div>
										<div class="news-options">
											<i class="fa fa-comments"></i>8 комментариев
										</div>
										<div class="news-options">
											<a href="#">Читать дальше</a>
											<a href="#">Смотреть видео</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr class="colorgraph nomargin"/>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="pagehead"><div class="row title black"><div class="tr"></div><i class="fa fa-comments"></i>&nbsp;&nbsp;Комментарии</div></div>
				<div class="comments">
					<div class="one">
						<div class="comment-text"><a href="#">В то время некий безымянный печатник создал большую коллекцию размеров</a></div>
						<span class="author">Николай Гришин</span>
					</div>
					<div class="one">
						<div class="comment-text"><a href="#">Здесь будет текст второго коммента</a></div>
						<span class="author">Оксана Аксенова</span>
					</div>
					<div class="one">
						<div class="comment-text"><a href="#">Третий камент</a></div>
						<span class="author">Ирина Бузаева</span>
					</div>
					<div class="one">
						<div class="comment-text"><a href="#">В то время некий безымянный печатник создал большую коллекцию размеров</a></div>
						<span class="author">Еще кто-нибудь</span>
					</div>
				</div>
				<div class="sticker">
					<div class="wrapper">
						<h3>Подсказка</h3>
						<div class="sticker_item">
							Здесь будет какой-нибудь текст в виде заметки слева или спрва
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="row">
			<div class="col-md-3">
				<img src="images/logo-white.png" />
				<p class="copyright">© 2005-2015 КАСТИНГОВОЕ АГЕНСТВО «EASYCAST». ВСЕ ПРАВА ЗАЩИЩЕНЫ. </p>
			</div>
			<div class="col-md-3">
				<ul>
					<li><a href="#">Контакты</a></li>
					<li><a href="#">Как это работает</a></li>
					<li><a href="#">Связаться с нами</a></li>
					<li><a href="#">Еще пункт</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li><a href="#">Контакты</a></li>
					<li><a href="#">Как это работает</a></li>
					<li><a href="#">Связаться с нами</a></li>
					<li><a href="#">Еще пункт</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<div id="dev">
					<img src="images/logolance.png" alt="Puertolance Web Studio"/>
					Разработка дизайна
					<a href="#">Puertolance</a>
				</div>
			</div>
		</footer>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom/icheck.min.js"></script>
    <script src="js/custom/imagesloaded.pkgd.min.js"></script>
    <script src="js/custom/positions.js"></script>
    <script src="js/custom/script.js"></script>
  </body>
</html>