<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyCast Redesign</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">    
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400,300,700&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
    <link href="css/custom/icheck/minimal/orange.css" rel="stylesheet">
    <link href="css/custom/global.css" rel="stylesheet">
    <link href="css/custom/bootstrap-tag-cloud.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  </head>
  <body>
	<div class="container">
		<header class="row">
			<div id="nav-top">
				<div class="pull-left">
					<div id="logo"><a class="noborder" href="#"><img src="images/logo.png"/></a></div>
				</div>
				<div class="pull-right">
					<div id="search">
						<form action="" method="GET">    
							<input id="nav-search" value="Поиск по сайту" required="required" onfocus="this.value = ''" onblur="if (this.value == '') {this.value = 'Поиск по сайту';}" class="form-control" name="Search[QUERY]" type="text">    
							<input type="submit" name="yt2" value="">    
						</form>
					</div>
					<div id="user">
						<a class="noborder"><img class="avatar img-circle" src="images/user-avatar.jpg"/></a>
						<a class="name" href="#">Александр Бугаев</a>
						<a class="noborder" href="#"><img src="images/i-logout.png"/></a>
					</div>
				</div>
			</div>
			<div id="nav-menu">
				<ul>
					<li><a href="">Главная</a></li>
					<li class="active"><a href="">Проекты</a></li>
					<li><a href="">Мероприятия</a></li>
					<li><a href="">FAQ</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
		</header>
		
		<section class="row" id="breadcrumbs">
			<div itemprop="breadcrumb">
				<a class="nohover" href="/">Главная</a><em>&gt;</em><a class="nohover" href="/">Мой профиль</a><em>&gt;</em><a class="nohover" href="/">Голубой Огонек на Шабаловке</a><em>&gt;</em><span class="brtitle">Съемка 17 февраля 2015 [Работа с заявками]</span>
			</div>
		</section>
		
		<section class="row" id="content">
			<div class="col-md-10">
				<div class="item">
					<div class="e-item noradius detailed nomargin">
						<div class="row first">
							<div class="event-image col-md-4">
								<div class="holder">
									<img src="images/sample24.jpg">
									<div class="event-date">Съемка 17 февраля 2015</div>
								</div>
							</div>
							<div class="event-content col-md-8">
								<div class="p-item">
									<div class="head">
										<img src="images/sample4.jpg">
										<div class="name">
											<span class="type">Реклама</span>
											<h3><a href="#">Голубой Огонек на Шабаловке</a></h3>
										</div>
									</div>
								</div>
							</div>
						</div>	
						<div class="e-progress">
							<div class="progress nomargin">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
									<span class="sr-only">70% Complete (success)</span>
								</div>
								<span class="progress-type">12/15 людей набрано на все роли мероприятия</span>
								<span class="progress-completed">70%</span>
							</div>
						</div>								
					</div>
				</div>
				<div id="main" style="bottom: 0">
					<div class="customer-pro">
						
						<div class="modes text-center">
							<a href="#">Superlight</a>
							<a href="#">Light</a>
							<span>Pro</span>
						</div>
						
						<div class="pro-roles">
							<div class="panel with-nav-tabs panel-default">
				                <div class="panel-heading">
				                    <ul class="nav nav-tabs">
				                        <li class="active"><a href="#tab1default" data-toggle="tab">Актер второго плана</a></li>
				                        <li><a href="#tab2default" data-toggle="tab">Менеджер</a></li>
				                        <li><a href="#tab3default" data-toggle="tab">Модель</a></li>
				                    </ul>
				                </div>
				                <div class="panel-body">
				                    <div class="tab-content">
				                        <div class="tab-pane fade in active" id="tab1default">
											
											<div class="e-progress">
												<div class="progress nomargin">
													<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
														<span class="sr-only">70% Complete (success)</span>
													</div>
													<span class="progress-type">Набор завершен на 70%</span>
													<span class="progress-completed">70%</span>
												</div>
											</div>
											<br/>
											<div class="pro-box">
											
												<div class="item">
													<h3 class="alt">Анкета №1</h4>
													<div class="row relative">
														<div class="status"><img src="images/i-pro.jpg"/></div>
														<div class="col-md-4">
															<a href="#">
																<div class="u-item lg" style="background-image: url(images/sample10.jpg);">
																	<div class="qualification">Телевидущая</div>
																	<div class="data">
																		<span class="name">Алиса Чеширская</span>
																		<span class="general">27 лет, Москва</span>
																	</div>
																</div>
															</a>
														</div>
														<div class="col-md-4">
														    <div class="rating">
																<span class="rating-lg orange">63</span>
																<div class="rating-text">
																	<span>/ 100</span>
																	<span class="rating-category">за активность</span>
																</div>
															</div>
															<div class="clearfix"></div>
														    <div class="rating">
																<span class="rating-lg red">13</span>
																<div class="rating-text">
																	<span>/ 100</span>
																	<span class="rating-category">за что-нибудь еще</span>
																</div>
															</div>
															<div class="clearfix"></div>
														    <div class="rating">
																<span class="rating-lg green">89</span>
																<div class="rating-text">
																	<span>/ 100</span>
																	<span class="rating-category">не знаю за что</span>
																</div>
															</div>
														
														</div>
														<div class="col-md-4 text-right">
														
															<div class="tag-management">
																<ul id="tag-cloud">
																	<li class="tag-cloud tag-cloud-warning">blog</li>
																	<li class="tag-cloud">footer</li>
																	<li class="tag-cloud tag-cloud-success">user&nbsp;interface</li>
																	<li class="tag-cloud tag-cloud-danger">user</li>
																	<li class="tag-cloud tag-cloud-info">post</li>
																	<li class="tag-cloud tag-cloud-inverse">edit</li>
																</ul>
																<!--
																<div id="tag-info" class="input-append">
																	<div class="input-group">
																		<input type="text" placeholder="Введите тег" class="form-control" aria-label="Text input with segmented button dropdown">
																		<div class="input-group-btn">
																			<button id="addtag" type="button" class="btn btn-default">Ок</button>
																			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
																				<span class="caret"></span>
																				<span class="sr-only">Toggle Dropdown</span>
																			</button>
																			<ul class="dropdown-menu dropdown-menu-right" role="menu">
																				<li><a href="#">Action</a></li>
																				<li><a href="#">Another action</a></li>
																				<li><a href="#">Something else here</a></li>
																				<li class="divider"></li>
																				<li><a href="#">Separated link</a></li>
																			</ul>
																		</div>
																	</div>
																</div>
																--><br/>
																<a class="dashed" href="#">Добавить тег</a>
															</div>
	
																
															<!--
											    			<div class="input-group sections">
											    				<div id="sections-choose" class="btn-group text-right">
											    					<a class="btn btn-default btn-sm active" data-toggle="fun" data-title="Y">Лучшее</a>
											                        <a class="btn btn-default btn-sm not-active" data-toggle="fun" data-title="X">Средрее</a>
											    					<a class="btn btn-default btn-sm not-active" data-toggle="fun" data-title="N">Худшее</a>
											    				</div>
											    				<input type="hidden" name="fun" id="fun">
											    			</div>
															-->
															
														</div>
													</div>
	
													<div class="row">
														<div class="col-md-6">
															<div class="pro-actns">
													            <div class="ui-group-buttons">
													                <button type="button" class="btn btn-warning btn-md">Предвар. одобрить</button>
													                <div class="or or-lg"></div>
													                <button type="button" class="btn btn-danger btn-md">Отклонить</button>
													            </div>
															</div>
														</div>
														<div class="col-md-6 text-right">
															<div class="pro-actns">
													            <div class="ui-group-buttons">
													                <button type="button" class="btn btn-success btn-md">Подтвердить анкету</button>
													            </div>
															</div>
														</div>
													</div>
	
													<div class="user-menu">
														<ul class="nomargin nopadding">
															<li><a href="#">Все</a></li>
															<li class="active"><a href="#video">Видео</a></li>
															<li><a href="#photo">Фотографии</a></li>
															<li><a href="#">Личные данные</a></li>
															<li><a href="#">Рекомендации</a></li>
															<li><a href="#">Музыка</a></li>
															<li><a href="#">Что-нибудь еще</a></li>
														</ul>
													</div>
													
													<div style="display: none" class="user-data" id="video">
														<div class="sect">
															<h3 class="text-center"><span>Опыт Меган Фокс</span></h3>
															<div class="cnt">
																<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p><p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
															</div>
														</div>
														<div class="sect">
															<h3 class="text-center"><span>Опыт Меган Фокс</span></h3>
															<div class="cnt">
																<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p><p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
															</div>
														</div>
													</div>
													<div style="display: none" class="user-data" id="photo">
														<div class="sect">
															<h3 class="text-center"><span>Что-нибудь</span></h3>
															<div class="cnt">
																<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p><p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
															</div>
														</div>
													</div>


												</div>
											</div>


				                        </div>
				                        <div class="tab-pane fade" id="tab2default">Default 2</div>
				                        <div class="tab-pane fade" id="tab3default">Default 3</div>
				                        <div class="tab-pane fade" id="tab4default">Default 4</div>
				                        <div class="tab-pane fade" id="tab5default">Default 5</div>
				                    </div>
				                </div>
							</div>
						</div>
						

					</div>

				</div>
			</div>
			<div class="col-md-2">
				<div class="goback left"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;<a href="#">Вернутсья к проекту</a></div>
				<div class="goback left"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;<a href="#">Вернутсья в профиль</a></div>
				<div class="pagehead"><div class="row title black"><div class="tr"></div><i class="fa fa-list"></i>&nbsp;&nbsp;Фильтр</div></div>
				<div class="block">
					<div class="filter">
						<h6><img src="images/i-filter-search.png"/>По разделам</h6>
						 <ul>
						 	<li><label class="checkbox" for="test4"><input id="test4" type="checkbox" name="test4">Лучшие</label></li>
						 	<li><label class="checkbox" for="test5"><input id="test5" type="checkbox" name="test5">Средние</label></li>
						 	<li><label class="checkbox" for="test6"><input id="test6" type="checkbox" name="test6">Худшие</label></li>
						 </ul>
					</div>
					<div class="filter">
						<h6><img src="images/i-filter-search.png"/>По тегам</h6>
						 <ul>
						 	<li><a href="#">Реклама</a></li>
						 	<li><a href="#">Многосерийный фильм</a></li>
						 	<li><a href="#">Флешмоб</a></li>
						 	<li><a href="#">Реалити-шоу</a></li>
						 </ul>
					</div>
					<div class="filter">
						<h6><img src="images/i-filter-search.png"/>По разделам</h6>
						 <ul>
						 	<li><a href="#">Лучшие</a></li>
						 	<li><a href="#">Средние</a></li>
						 	<li><a href="#">Худшие</a></li>
						 </ul>
					</div>
					<div class="filter">
						<h6><img src="images/i-filter-search.png"/>По тегам</h6>
						 <ul>
						 	<li><a href="#">Реклама</a></li>
						 	<li><a href="#">Многосерийный фильм</a></li>
						 	<li><a href="#">Флешмоб</a></li>
						 	<li><a href="#">Реалити-шоу</a></li>
						 </ul>
					</div>
				</div>
			</div>
		</section>
		<footer class="row">
			<div class="col-md-3">
				<img src="images/logo-white.png" />
				<p class="copyright">© 2005-2015 КАСТИНГОВОЕ АГЕНСТВО «EASYCAST». ВСЕ ПРАВА ЗАЩИЩЕНЫ. </p>
			</div>
			<div class="col-md-3">
				<ul>
					<li><a href="#">Контакты</a></li>
					<li><a href="#">Как это работает</a></li>
					<li><a href="#">Связаться с нами</a></li>
					<li><a href="#">Еще пункт</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li><a href="#">Контакты</a></li>
					<li><a href="#">Как это работает</a></li>
					<li><a href="#">Связаться с нами</a></li>
					<li><a href="#">Еще пункт</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<div id="dev">
					<img src="images/logolance.png" alt="Puertolance Web Studio"/>
					Разработка дизайна
					<a href="#">Puertolance</a>
				</div>
			</div>
		</footer>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom/icheck.min.js"></script>
    <script src="js/custom/imagesloaded.pkgd.min.js"></script>
    <script src="js/custom/positions.js"></script>
    <script src="js/custom/script.js"></script>
    <script src="js/custom/bootstrap-tag-cloud.js"></script>
	<script>
		$(".user-menu a").click(function(){
			$(".user-data").fadeOut(100);
			$($(this).attr("href")).fadeIn(500);
		});
	</script>
  </body>
</html>