<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyCast Redesign</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">    
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400,300,700&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
    <link href="css/custom/icheck/minimal/minimal.css" rel="stylesheet">
    <link href="css/custom/global.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  </head>
  <body>
	<div class="container">
		<header class="row">
			<div id="nav-top">
				<div class="pull-left">
					<div id="logo"><a class="noborder" href="#"><img src="images/logo.png"/></a></div>
				</div>
				<div class="pull-right">
					<div id="search">
						<form action="" method="GET">    
							<input id="nav-search" value="Поиск по сайту" required="required" onfocus="this.value = ''" onblur="if (this.value == '') {this.value = 'Поиск по сайту';}" class="form-control" name="Search[QUERY]" type="text">    
							<input type="submit" name="yt2" value="">    
						</form>
					</div>
					<div id="user">
						<a class="noborder"><img class="avatar img-circle" src="images/user-avatar.jpg"/></a>
						<a class="name" href="#">Александр Бугаев</a>
						<a class="noborder" href="#"><img src="images/i-logout.png"/></a>
					</div>
				</div>
			</div>
			<div id="nav-menu">
				<ul>
					<li><a href="">Главная</a></li>
					<li class="active"><a href="">Проекты</a></li>
					<li><a href="">Мероприятия</a></li>
					<li><a href="">FAQ</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
		</header>
		<section class="row profile" id="content">
			<div class="col-md-3">
				
				<section class="row" id="breadcrumbs">
					<div itemprop="breadcrumb">
						<a class="nohover" href="/">Главная</a><em>></em><span class="brtitle">Проекты</span>
					</div>
				</section>
				
				<div class="row profile-avatar">
					<img src="images/sample15.jpg" />
					<div class="tr"></div>
				</div>
				
				<div class="row production">
					<img src="images/sample4.jpg" />
					<div class="info">
						<a href="#">Название продакшна</a>
						<span class="position">Руководитель проекта</span>
					</div>
				</div>
				
				<div class="pagehead"><div class="row title left black"><div class="tr"></div>Оповещения</div></div>
				
				<div class="row notifications">
					<div class="unread">
						<div class="urgent one">
							<a href="#">Здесь будет какой-нибудь текст или уведомление о важном событии</a>
						</div>
					</div>
					<h4>Прочитанные уведомления</h4>
					<div class="read">
						<div class="one">
							<a href="#">Здесь будет какой-нибудь текст или уведомление о важном событии</a>
						</div>
						<div class="one">
							<a href="#">Второе уведомление</a>
						</div>
						<div class="one">
							<a href="#">Здесь будет еще одно уведомление</a>
						</div>
					</div>
				</div>
				
				<div class="pagehead"><div class="row title left black"><div class="tr"></div>Оповещения</div></div>
				
				<div class="persons">
					<div class="one">
						<a href="#">
							<div class="u-item md" style="background-image: url(images/sample10.jpg);">
								<div class="data">
									<span class="name">Алиса Чеширская</span>
									<span class="general">27 лет, Москва</span>
								</div>
							</div>
						</a>
						<div class="row person-project">
							<img src="images/sample4.jpg" />
							<div class="info">
								<a href="#">Название проекта</a>
								<span class="position">Менеджер</span>
							</div>
						</div>
					</div>
					<div class="one">
						<a href="#">
							<div class="u-item bg-orange md" style="background-image: url(images/sample3.jpg);">
								<div class="data">
									<span class="name">Ирина Бузаева</span>
									<span class="general">24 лет, Дубна</span>
								</div>
							</div>
						</a>
						<div class="row person-project">
							<img src="images/sample7.jpg" />
							<div class="info">
								<a href="#">Название второго проекта</a>
								<span class="position">Модель</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="sticker">
					<div class="wrapper">
						<h3>Подсказка</h3>
						<div class="sticker_item">
							Здесь будет какой-нибудь текст в виде заметки слева или спрва
						</div>
					</div>
				</div>
				<br/><br/>
			</div>
			<div class="col-md-9">
				<div id="main">
					<div class="customer-pro">
						
						<div class="row pro-first">
							<div class="goback"><img src="images/i-goback.png" /><a href="#">Вернуться в профиль</a></div>
							<div class="p-item lg">
								<div class="head">
									<img src="images/sample4.jpg" />
									<div class="name">
										<span class="type">Реклама</span>
										<h3>Голубой Огонек на Шабаловке</h3>
									</div>
								</div>
							</div>
						</div>
						
						<div class="pro-description">
							<p>Развлекательное телешоу, стартовавшее на телеканале «Россия» в январе 2006 года. В конкурсе участвуют пары, каждая из которых состоит из профессионального танцора и звезды телеэкрана, кинематографа, театра и т. п. Все профессиональные танцоры — члены Русского танцевального союза (РТС)</p>
						</div>
						
						<div class="panel with-nav-tabs panel-default">
			                <div class="panel-heading">
			                    <ul class="nav nav-tabs">
			                        <li class="active"><a href="#tab1default" data-toggle="tab" aria-expanded="true">Тайминг</a></li>
			                        <li class=""><a href="#tab2default" data-toggle="tab" aria-expanded="false">Документация</a></li>
			                        <li><a href="#tab3default" data-toggle="tab">Еще что-нибудь</a></li>
			                    </ul>
			                </div>
			                <div class="panel-body">
			                    <div class="tab-content">
			                        <div class="tab-pane fade active in" id="tab1default">
										<div class="invitation-timing">
											<div class="cnt">
												<div class="box">
													<ul id="timing" class="clearfix nomargin nopadding">
														<li>
															<div class="year pull-left">21:00</div>
															<div class="description pull-right">
																<div class="item">
																	<p>Сбор</p>
																	<span class="date">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
																	<br/><br/><p><img width="70" src="images/sample7.jpg"/></p><br/>
																</div>
																<div class="item">
																	<p>Еще что-нибудь</p>
																	<span class="date">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
																</div>
															</div>
														</li>
														<li>
															<div class="year pull-left">20:00</div>
															<div class="description pull-right">
																<div class="item">
																	<p>Съемка</p>
																	<span class="date">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
																</div>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
			                        </div>
			                        <div class="tab-pane fade" id="tab2default">
				                        аывавыаыв
			                        </div>
			                        <div class="tab-pane fade" id="tab3default">Default 3</div>
			                        <div class="tab-pane fade" id="tab4default">Default 4</div>
			                        <div class="tab-pane fade" id="tab5default">Default 5</div>
			                    </div>
			                </div>
						</div>
						
						<!--
						<div class="pro-message">
							<div class="bs-component">
								
								<div class="alert alert-dismissible alert-info">
									<div class="easy-employee-avatar-holder"><img src="images/sample9.jpg" /></div>
									<button type="button" class="close" data-dismiss="alert">×</button>
									<strong>Привет!</strong> <br/> Развлекательное телешоу, стартовавшее на телеканале «Россия» в январе 2006 года. В конкурсе участвуют пары, каждая из которых состоит из профессионального.
								</div>
							</div>
						</div>
						-->
						
						<div class="row pro-actions">
							<button type="button" class="btn btn-fresh text-uppercase">Редактировать проект</button>
							<button type="button" class="btn btn-hot text-uppercase">Завершить проект</button>
				            <button type="button" class="btn btn-sunny text-uppercase">Действие</button>
				            <button type="button" class="btn btn-sky text-uppercase">Действие</button>
						</div>
						
						<div class="row subhead short">
							<div class="title">
								<div class="tr"></div><span>Мероприятия</span>
								<div class="mode"><span><a href="#">Superlight</a><a href="#">Light</a><a href="#">Pro</a></span></div>
							</div>
						</div>
						<br/>
						<div class="item">
							<div class="e-item detailed noproject nomargin">
								<div class="row first">
									<div class="event-image col-md-12">
										<div class="holder">
											<img src="images/sample27.jpg">
											<div class="event-date">Съемка 17 февраля 2015</div>
										</div>
									</div>
								</div>								
							</div>
						</div>
						
						
						<div class="pro-roles">
							<div class="panel with-nav-tabs panel-default">
				                <div class="panel-heading">
				                    <ul class="nav nav-tabs pull-left">
				                        <li class="active"><a href="#tab1default" data-toggle="tab">Общая информация</a></li>
				                        <li><a href="#tab2default" data-toggle="tab">Актер первого плана</a></li>
				                        <li><a href="#tab3default" data-toggle="tab">Менеджер</a></li>
				                    </ul>
				                    <div class="pull-right edit"><i class="fa fa-edit"></i><a href="#">Редактировать роль</a></div>
				                    <div class="clearfix"></div>
				                </div>
				                <div class="panel-body">
				                    <div class="tab-content">
				                        <div class="tab-pane fade in active" id="tab1default">
					                        
											<p><i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;&nbsp;<a href="#">Как увеличить количество заявок</a></p>
											<p><i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;&nbsp;<a href="#">Еще что-нибудь</a></p>
											
										    <div class="row project-stats noborder">
												<div class="col-md-6">
													<span class="stat-lg">17</span>
													<div class="stat-text">
														<span>участников</span>
														<span>приняли участие</span>
													</div>
												</div>
												<div class="col-md-6">
													<span class="stat-lg">123</span>
													<div class="stat-text">
														<span>участников</span>
														<span>приняли участие</span>
													</div>
												</div>
											</div>
											
											<div class="e-progress">
												<div class="progress">
													<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
														<span class="sr-only">30% Complete (success)</span>
													</div>
													<span class="progress-type">Актер первого плана</span>
													<span class="progress-completed">30%</span>
												</div>
											</div>
											<div class="e-progress">
												<div class="progress">
													<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
														<span class="sr-only">70% Complete (success)</span>
													</div>
													<span class="progress-type">Модель</span>
													<span class="progress-completed">70%</span>
												</div>
											</div>

				                        </div>
				                        <div class="tab-pane fade" id="tab2default">
					                    	<!-- Role START -->
					                    	
											<div class="pro-sort">
												<ul class="nomargin nopadding">
													<li><img src="images/i-sort-desc.png" /><a href="#">по гонорару</a></li>
													<li><a href="#">по дате</a></li>
													<li><a href="#">по ролям</a></li>
													<li><a href="#">по параметру</a></li>
													<li><a href="#">по второму параметру</a></li>
												</ul>
											</div>
											
											<div class="pro-filter">
												<div class="row">
													<div class="col-md-8 filter-btns">
														<a href="#" class="btn btn-default btn-active">Показать всех</a>
														<a href="#" class="btn btn-default">Предварительно одобренные</a>
														<a href="#" class="btn btn-default">Подтвержденные</a>
													</div>
													<div class="col-md-4 filter-tags">
														<div class="input-group">
															<input type="text" placeholder="Введите тег" class="form-control" aria-label="Text input with segmented button dropdown">
															<div class="input-group-btn">
																<button type="button" class="btn btn-default">Искать</button>
																<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
																	<span class="caret"></span>
																	<span class="sr-only">Toggle Dropdown</span>
																</button>
																<ul class="dropdown-menu dropdown-menu-right" role="menu">
																	<li><a href="#">Action</a></li>
																	<li><a href="#">Another action</a></li>
																	<li><a href="#">Something else here</a></li>
																	<li class="divider"></li>
																	<li><a href="#">Separated link</a></li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
											
											<div class="superlight-box">

												<div class="persons">
													<div class="one">
														<a href="#">
															<div class="u-item md" style="background-image: url(images/sample10.jpg);">
																<div class="qualification">Актриса</div>
																<div class="data">
																	<span class="name">Алиса Чеширская</span>
																	<span class="general">27 лет, Москва</span>
																</div>
															</div>
															<div class="pro-actns">
													            <div class="ui-group-buttons">
													                <button type="button" class="btn btn-success btn-md">Предвар. одобрить</button>
													                <div class="or or-lg"></div>
													                <button type="button" class="btn btn-danger btn-md">Отклонить</button>
													            </div>
															</div>
														</a>
													</div>
													<div class="one">
														<a href="#">
															<div class="u-item bg-orange md" style="background-image: url(images/sample3.jpg);">
																<div class="data">
																	<span class="name">Ирина Бузаева</span>
																	<span class="general">24 лет, Дубна</span>
																</div>
															</div>
															<div class="pro-actns">
													            <div class="ui-group-buttons">
													                <button type="button" class="btn btn-success btn-md">Предвар. одобрить</button>
													                <div class="or or-lg"></div>
													                <button type="button" class="btn btn-danger btn-md">Отклонить</button>
													            </div>
															</div>
														</a>
													</div>
													<div class="one">
														<a href="#">
															<div class="u-item md" style="background-image: url(images/sample9.jpg);">
																<div class="data">
																	<span class="name">Алиса Чеширская</span>
																	<span class="general">27 лет, Москва</span>
																</div>
															</div>
															<div class="pro-actns">
													            <div class="ui-group-buttons">
													                <button type="button" class="btn btn-success btn-md">Предвар. одобрить</button>
													                <div class="or or-lg"></div>
													                <button type="button" class="btn btn-danger btn-md">Отклонить</button>
													            </div>
															</div>
														</a>
													</div>
													<div class="one">
														<a href="#">
															<div class="u-item md" style="background-image: url(images/sample5.jpg);">
																<div class="data">
																	<span class="name">Алиса Чеширская</span>
																	<span class="general">27 лет, Москва</span>
																</div>
															</div>
															<div class="pro-actns">
													            <div class="ui-group-buttons">
													                <button type="button" class="btn btn-success btn-md">Предвар. одобрить</button>
													                <div class="or or-lg"></div>
													                <button type="button" class="btn btn-danger btn-md">Отклонить</button>
													            </div>
															</div>
														</a>
													</div>
													<div class="one">
														<a href="#">
															<div class="u-item bg-orange md" style="background-image: url(images/sample6.jpg);">
																<div class="data">
																	<span class="name">Ирина Бузаева</span>
																	<span class="general">24 лет, Дубна</span>
																</div>
															</div>
															<div class="pro-actns">
													            <div class="ui-group-buttons">
													                <button type="button" class="btn btn-success btn-md">Предвар. одобрить</button>
													                <div class="or or-lg"></div>
													                <button type="button" class="btn btn-danger btn-md">Отклонить</button>
													            </div>
															</div>
														</a>
													</div>
													<div class="one">
														<a href="#">
															<div class="u-item md" style="background-image: url(images/sample2.jpg);">
																<div class="data">
																	<span class="name">Алиса Чеширская</span>
																	<span class="general">27 лет, Москва</span>
																</div>
															</div>
															<div class="pro-actns">
													            <div class="ui-group-buttons">
													                <button type="button" class="btn btn-success btn-md">Предвар. одобрить</button>
													                <div class="or or-lg"></div>
													                <button type="button" class="btn btn-danger btn-md">Отклонить</button>
													            </div>
															</div>
														</a>
													</div>
												</div>
												
											</div>
					                    	
					                    	<!-- Role END -->
				                        </div>
				                        <div class="tab-pane fade" id="tab3default">Default 3</div>
				                        <div class="tab-pane fade" id="tab4default">Default 4</div>
				                        <div class="tab-pane fade" id="tab5default">Default 5</div>
				                    </div>
				                </div>
							</div>
						</div>
						
						<div class="item">
							<div class="e-item detailed noproject nomargin">
								<div class="row first">
									<div class="event-image col-md-12">
										<div class="holder">
											<img src="images/sample28.jpg">
											<div class="event-date">Съемка 17 февраля 2015</div>
										</div>
									</div>
								</div>								
							</div>
						</div>
						
						
						<div class="pro-roles">
							<div class="panel with-nav-tabs panel-default">
				                <div class="panel-heading">
				                    <ul class="nav nav-tabs pull-left">
				                        <li class="active"><a href="#tab1default" data-toggle="tab">Общая информация</a></li>
				                        <li><a href="#tab2default" data-toggle="tab">Актер первого плана</a></li>
				                        <li><a href="#tab3default" data-toggle="tab">Менеджер</a></li>
				                    </ul>
				                    <div class="pull-right edit"><i class="fa fa-edit"></i><a href="#">Редактировать роль</a></div>
				                    <div class="clearfix"></div>
				                </div>
				                <div class="panel-body">
				                    <div class="tab-content">
				                        <div class="tab-pane fade in active" id="tab1default">
					                        
					                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
											<p><i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;&nbsp;<a href="#">Какая-нибудь ссылка</a></p>
											<p><i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;&nbsp;<a href="#">Какая-нибудь ссылка</a></p>
											
										    <div class="row project-stats noborder">
												<div class="col-md-6">
													<span class="stat-lg">17</span>
													<div class="stat-text">
														<span>участников</span>
														<span>приняли участие</span>
													</div>
												</div>
												<div class="col-md-6">
													<span class="stat-lg">123</span>
													<div class="stat-text">
														<span>участников</span>
														<span>приняли участие</span>
													</div>
												</div>
											</div>
											
											<div class="e-progress">
												<div class="progress">
													<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
														<span class="sr-only">30% Complete (success)</span>
													</div>
													<span class="progress-type">Актер первого плана</span>
													<span class="progress-completed">30%</span>
												</div>
											</div>
											<div class="e-progress">
												<div class="progress">
													<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
														<span class="sr-only">70% Complete (success)</span>
													</div>
													<span class="progress-type">Модель</span>
													<span class="progress-completed">70%</span>
												</div>
											</div>

				                        </div>
				                        <div class="tab-pane fade" id="tab2default">
					                    	<!-- Role START -->
					                    	
											<div class="pro-sort">
												<ul class="nomargin nopadding">
													<li><img src="images/i-sort-desc.png" /><a href="#">по гонорару</a></li>
													<li><a href="#">по дате</a></li>
													<li><a href="#">по ролям</a></li>
													<li><a href="#">по параметру</a></li>
													<li><a href="#">по второму параметру</a></li>
												</ul>
											</div>
											
											<div class="pro-filter">
												<div class="row">
													<div class="col-md-8 filter-btns">
														<a href="#" class="btn btn-default btn-active">Показать всех</a>
														<a href="#" class="btn btn-default">Предварительно одобренные</a>
														<a href="#" class="btn btn-default">Подтвержденные</a>
													</div>
													<div class="col-md-4 filter-tags">
														<div class="input-group">
															<input type="text" placeholder="Введите тег" class="form-control" aria-label="Text input with segmented button dropdown">
															<div class="input-group-btn">
																<button type="button" class="btn btn-default">Искать</button>
																<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
																	<span class="caret"></span>
																	<span class="sr-only">Toggle Dropdown</span>
																</button>
																<ul class="dropdown-menu dropdown-menu-right" role="menu">
																	<li><a href="#">Action</a></li>
																	<li><a href="#">Another action</a></li>
																	<li><a href="#">Something else here</a></li>
																	<li class="divider"></li>
																	<li><a href="#">Separated link</a></li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
											
											<div class="superlight-box">

												<div class="persons">
													<div class="one">
														<a href="#">
															<div class="u-item md" style="background-image: url(images/sample10.jpg);">
																<div class="qualification">Актриса</div>
																<div class="data">
																	<span class="name">Алиса Чеширская</span>
																	<span class="general">27 лет, Москва</span>
																</div>
															</div>
															<div class="pro-actns">
													            <div class="ui-group-buttons">
													                <button type="button" class="btn btn-success btn-md">Предвар. одобрить</button>
													                <div class="or or-lg"></div>
													                <button type="button" class="btn btn-danger btn-md">Отклонить</button>
													            </div>
															</div>
														</a>
													</div>
													<div class="one">
														<a href="#">
															<div class="u-item bg-orange md" style="background-image: url(images/sample3.jpg);">
																<div class="data">
																	<span class="name">Ирина Бузаева</span>
																	<span class="general">24 лет, Дубна</span>
																</div>
															</div>
															<div class="pro-actns">
													            <div class="ui-group-buttons">
													                <button type="button" class="btn btn-success btn-md">Предвар. одобрить</button>
													                <div class="or or-lg"></div>
													                <button type="button" class="btn btn-danger btn-md">Отклонить</button>
													            </div>
															</div>
														</a>
													</div>
													<div class="one">
														<a href="#">
															<div class="u-item md" style="background-image: url(images/sample9.jpg);">
																<div class="data">
																	<span class="name">Алиса Чеширская</span>
																	<span class="general">27 лет, Москва</span>
																</div>
															</div>
															<div class="pro-actns">
													            <div class="ui-group-buttons">
													                <button type="button" class="btn btn-success btn-md">Предвар. одобрить</button>
													                <div class="or or-lg"></div>
													                <button type="button" class="btn btn-danger btn-md">Отклонить</button>
													            </div>
															</div>
														</a>
													</div>
													<div class="one">
														<a href="#">
															<div class="u-item md" style="background-image: url(images/sample5.jpg);">
																<div class="data">
																	<span class="name">Алиса Чеширская</span>
																	<span class="general">27 лет, Москва</span>
																</div>
															</div>
															<div class="pro-actns">
													            <div class="ui-group-buttons">
													                <button type="button" class="btn btn-success btn-md">Предвар. одобрить</button>
													                <div class="or or-lg"></div>
													                <button type="button" class="btn btn-danger btn-md">Отклонить</button>
													            </div>
															</div>
														</a>
													</div>
													<div class="one">
														<a href="#">
															<div class="u-item bg-orange md" style="background-image: url(images/sample6.jpg);">
																<div class="data">
																	<span class="name">Ирина Бузаева</span>
																	<span class="general">24 лет, Дубна</span>
																</div>
															</div>
															<div class="pro-actns">
													            <div class="ui-group-buttons">
													                <button type="button" class="btn btn-success btn-md">Предвар. одобрить</button>
													                <div class="or or-lg"></div>
													                <button type="button" class="btn btn-danger btn-md">Отклонить</button>
													            </div>
															</div>
														</a>
													</div>
													<div class="one">
														<a href="#">
															<div class="u-item md" style="background-image: url(images/sample2.jpg);">
																<div class="data">
																	<span class="name">Алиса Чеширская</span>
																	<span class="general">27 лет, Москва</span>
																</div>
															</div>
															<div class="pro-actns">
													            <div class="ui-group-buttons">
													                <button type="button" class="btn btn-success btn-md">Предвар. одобрить</button>
													                <div class="or or-lg"></div>
													                <button type="button" class="btn btn-danger btn-md">Отклонить</button>
													            </div>
															</div>
														</a>
													</div>
												</div>
												
											</div>
					                    	
					                    	<!-- Role END -->
				                        </div>
				                        <div class="tab-pane fade" id="tab3default">Default 3</div>
				                        <div class="tab-pane fade" id="tab4default">Default 4</div>
				                        <div class="tab-pane fade" id="tab5default">Default 5</div>
				                    </div>
				                </div>
							</div>
						</div>
						
						
						
					</div>

				</div>
			</div>
		</section>
		<footer class="row">
			<div class="col-md-3">
				<img src="images/logo-white.png" />
				<p class="copyright">© 2005-2015 КАСТИНГОВОЕ АГЕНСТВО «EASYCAST». ВСЕ ПРАВА ЗАЩИЩЕНЫ. </p>
			</div>
			<div class="col-md-3">
				<ul>
					<li><a href="#">Контакты</a></li>
					<li><a href="#">Как это работает</a></li>
					<li><a href="#">Связаться с нами</a></li>
					<li><a href="#">Еще пункт</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li><a href="#">Контакты</a></li>
					<li><a href="#">Как это работает</a></li>
					<li><a href="#">Связаться с нами</a></li>
					<li><a href="#">Еще пункт</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<div id="dev">
					<img src="images/logolance.png" alt="Puertolance Web Studio"/>
					Разработка дизайна
					<a href="#">Puertolance</a>
				</div>
			</div>
		</footer>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom/icheck.min.js"></script>
    <script src="js/custom/imagesloaded.pkgd.min.js"></script>
    <script src="js/custom/positions.js"></script>
    <script src="js/custom/script.js"></script>
  </body>
</html>