<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyCast Redesign</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">    
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400,300,700&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
    <link href="css/custom/icheck/minimal/orange.css" rel="stylesheet">
    <link href="css/custom/global.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  </head>
  <body>
	<div class="container">
		<header class="row">
			<div id="nav-top">
				<div class="pull-left">
					<div id="logo"><a class="noborder" href="#"><img src="images/logo.png"/></a></div>
				</div>
				<div class="pull-right">
					<div id="search">
						<form action="" method="GET">    
							<input id="nav-search" value="Поиск по сайту" required="required" onfocus="this.value = ''" onblur="if (this.value == '') {this.value = 'Поиск по сайту';}" class="form-control" name="Search[QUERY]" type="text">    
							<input type="submit" name="yt2" value="">    
						</form>
					</div>
					<div id="user">
						<a class="noborder"><img class="avatar img-circle" src="images/user-avatar.jpg"/></a>
						<a class="name" href="#">Александр Бугаев</a>
						<a class="noborder" href="#"><img src="images/i-logout.png"/></a>
					</div>
				</div>
			</div>
			<div id="nav-menu">
				<ul>
					<li><a href="">Главная</a></li>
					<li class="active"><a href="">Проекты</a></li>
					<li><a href="">Мероприятия</a></li>
					<li><a href="">FAQ</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
		</header>
		
		<section class="row" id="breadcrumbs">
			<div itemprop="breadcrumb">
				<a class="nohover" href="/">Главная</a><em>&gt;</em><a class="nohover" href="/">Мой профиль</a><em>&gt;</em><a class="nohover" href="/">Голубой Огонек на Шабаловке</a><em>&gt;</em><span class="brtitle">Съемка 17 февраля 2015 [Работа с заявками]</span>
			</div>
		</section>
		
		<section class="row" id="content">
			<div class="col-md-10">
				<div class="item">
					<div class="e-item noradius detailed nomargin">
						<div class="row first">
							<div class="event-image col-md-4">
								<div class="holder">
									<img src="images/sample24.jpg">
									<div class="event-date">Съемка 17 февраля 2015</div>
								</div>
							</div>
							<div class="event-content col-md-8">
								<div class="p-item">
									<div class="head">
										<img src="images/sample4.jpg">
										<div class="name">
											<span class="type">Реклама</span>
											<h3><a href="#">Голубой Огонек на Шабаловке</a></h3>
										</div>
									</div>
								</div>
							</div>
						</div>	
						<div class="e-progress">
							<div class="progress nomargin">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
									<span class="sr-only">70% Complete (success)</span>
								</div>
								<span class="progress-type">12/15 людей набрано на все роли мероприятия</span>
								<span class="progress-completed">70%</span>
							</div>
						</div>								
					</div>
				</div>
				<div id="main" style="bottom: 0">
					<div class="customer-pro">
						
						<div class="modes text-center">
							<a href="#">Superlight</a>
							<span>Light</span>
							<a href="#">Pro</a>
						</div>
						
						<div class="pro-roles">
							<div class="panel with-nav-tabs panel-default">
				                <div class="panel-heading">
				                    <ul class="nav nav-tabs">
				                        <li class="active"><a href="#tab1default" data-toggle="tab">Актер второго плана</a></li>
				                        <li><a href="#tab2default" data-toggle="tab">Менеджер</a></li>
				                        <li><a href="#tab3default" data-toggle="tab">Модель</a></li>
				                    </ul>
				                </div>
				                <div class="panel-body">
				                    <div class="tab-content">
				                        <div class="tab-pane fade in active" id="tab1default">
											
											<div class="e-progress">
												<div class="progress nomargin">
													<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
														<span class="sr-only">70% Complete (success)</span>
													</div>
													<span class="progress-type">Набор на эту роль завершен на 70%</span>
													<span class="progress-completed">70%</span>
												</div>
											</div>
											<br/>
											<div class="light-box">
												<div class="item">
													<div class="row relative">
														<div class="status"><img src="images/i-pro.jpg"/></div>
														<div class="col-md-4">
															<a href="#">
																<div class="u-item lg" style="background-image: url(images/sample10.jpg);">
																	<div class="qualification">Телевидущая</div>
																	<div class="data">
																		<span class="name">Алиса Чеширская</span>
																		<span class="general">27 лет, Москва</span>
																	</div>
																</div>
															</a>
														</div>
														<div class="col-md-4">
															<div class="general-params">
																<div class="one">
																	<strong>Имя</strong>
																	<span>Алиса Чеширская</span>
																</div>
																<div class="one">
																	<strong>Квалификация</strong>
																	<span>Телевидущая</span>
																</div>
																<div class="one">
																	<strong>Возраст</strong>
																	<span>27 лет</span>
																</div>
																<div class="one">
																	<strong>Опыт работы</strong>
																	<span>4 года</span>
																</div>
																<div class="one">
																	<strong>Еще что-нибудь</strong>
																	<span>Текст</span>
																</div>
															</div>
														</div>
														<div class="col-md-4">
															<div class="rating-box">
															    <div class="rating">
																	<span class="rating-lg orange">63</span>
																	<div class="rating-text">
																		<span>/ 100</span>
																		<span class="rating-category">активность</span>
																	</div>
																</div>
																<div class="clearfix"></div>
															    <div class="rating">
																	<span class="rating-lg red">13</span>
																	<div class="rating-text">
																		<span>/ 100</span>
																		<span class="rating-category">профессионализм</span>
																	</div>
																</div>
																<div class="clearfix"></div>
															    <div class="rating">
																	<span class="rating-lg green">89</span>
																	<div class="rating-text">
																		<span>/ 100</span>
																		<span class="rating-category">анкета</span>
																	</div>
																</div>
															</div>
																	

															<div class="pro-actns">
													            <div class="ui-group-buttons">
													                <button type="button" class="btn btn-success btn-md"><i class="fa fa-thumbs-up"></i></button>
													                <button type="button" class="btn btn-warning btn-md">Предварительно&nbsp;&nbsp;<i class="fa fa-thumbs-up"></i></button>
													                <div class="or or-lg"></div>
													                <button type="button" class="btn btn-danger btn-md"><i class="fa fa-thumbs-down"></i></button>
													            </div>
															</div>

															
														</div>
													</div>

												</div>
												<hr class="colorgraph">
												<div class="item">
													<div class="row relative">
														<div class="status"><img src="images/i-pro.jpg"/></div>
														<div class="col-md-4">
															<div class="persons">
																<div class="one">
																	<a href="#">
																		<div class="u-item md" style="background-image: url(images/sample6.jpg);">
																			<div class="qualification">Телевидущая</div>
																			<div class="data">
																				<span class="name">Алиса Чеширская</span>
																				<span class="general">27 лет, Москва</span>
																			</div>
																		</div>
																	</a>
																</div>
															</div>
														</div>
														<div class="col-md-4">
															<div class="general-params">
																<div class="one">
																	<strong>Имя</strong>
																	<span>Алиса Чеширская</span>
																</div>
																<div class="one">
																	<strong>Квалификация</strong>
																	<span>Телевидущая</span>
																</div>
																<div class="one">
																	<strong>Возраст</strong>
																	<span>27 лет</span>
																</div>
																<div class="one">
																	<strong>Опыт работы</strong>
																	<span>4 года</span>
																</div>
																<div class="one">
																	<strong>Еще что-нибудь</strong>
																	<span>Текст</span>
																</div>
															</div>
														</div>
														<div class="col-md-4">
															<div class="rating-box">
															    <div class="rating">
																	<span class="rating-lg orange">63</span>
																	<div class="rating-text">
																		<span>/ 100</span>
																		<span class="rating-category">активность</span>
																	</div>
																</div>
																<div class="clearfix"></div>
															    <div class="rating">
																	<span class="rating-lg red">13</span>
																	<div class="rating-text">
																		<span>/ 100</span>
																		<span class="rating-category">профессионализм</span>
																	</div>
																</div>
																<div class="clearfix"></div>
															    <div class="rating">
																	<span class="rating-lg green">89</span>
																	<div class="rating-text">
																		<span>/ 100</span>
																		<span class="rating-category">анкета</span>
																	</div>
																</div>
															</div>
															
															<div class="pro-actns">
													            <div class="ui-group-buttons">
													                <button type="button" class="btn btn-success btn-md"><i class="fa fa-thumbs-up"></i></button>
													                <button type="button" class="btn btn-warning btn-md">Предварительно&nbsp;&nbsp;<i class="fa fa-thumbs-up"></i></button>
													                <div class="or or-lg"></div>
													                <button type="button" class="btn btn-danger btn-md"><i class="fa fa-thumbs-down"></i></button>
													            </div>
															</div>
															
															
														</div>
													</div>
												</div>
												<hr class="colorgraph">
											</div>


				                        </div>
				                        <div class="tab-pane fade" id="tab2default">Default 2</div>
				                        <div class="tab-pane fade" id="tab3default">Default 3</div>
				                        <div class="tab-pane fade" id="tab4default">Default 4</div>
				                        <div class="tab-pane fade" id="tab5default">Default 5</div>
				                    </div>
				                </div>
							</div>
						</div>
						
						
						
					</div>

				</div>
			</div>
			<div class="col-md-2">
				<div class="goback left"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;<a href="#">Вернутсья к проекту</a></div>
				<div class="goback left"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;<a href="#">Вернутсья в профиль</a></div>
				<div class="pagehead"><div class="row title black"><div class="tr"></div><i class="fa fa-list"></i>&nbsp;&nbsp;Фильтр</div></div>
				<div class="block">
					<div class="filter">
						<h6><img src="images/i-filter-search.png"/>По разделам</h6>
						 <ul>
						 	<li><label class="checkbox" for="test4"><input id="test4" type="checkbox" name="test4">Лучшие</label></li>
						 	<li><label class="checkbox" for="test5"><input id="test5" type="checkbox" name="test5">Средние</label></li>
						 	<li><label class="checkbox" for="test6"><input id="test6" type="checkbox" name="test6">Худшие</label></li>
						 </ul>
					</div>
					<div class="filter">
						<h6><img src="images/i-filter-search.png"/>По тегам</h6>
						 <ul>
						 	<li><a href="#">Реклама</a></li>
						 	<li><a href="#">Многосерийный фильм</a></li>
						 	<li><a href="#">Флешмоб</a></li>
						 	<li><a href="#">Реалити-шоу</a></li>
						 </ul>
					</div>
					<div class="filter">
						<h6><img src="images/i-filter-search.png"/>По разделам</h6>
						 <ul>
						 	<li><a href="#">Лучшие</a></li>
						 	<li><a href="#">Средние</a></li>
						 	<li><a href="#">Худшие</a></li>
						 </ul>
					</div>
					<div class="filter">
						<h6><img src="images/i-filter-search.png"/>По тегам</h6>
						 <ul>
						 	<li><a href="#">Реклама</a></li>
						 	<li><a href="#">Многосерийный фильм</a></li>
						 	<li><a href="#">Флешмоб</a></li>
						 	<li><a href="#">Реалити-шоу</a></li>
						 </ul>
					</div>
				</div>
			</div>
		</section>
		<footer class="row">
			<div class="col-md-3">
				<img src="images/logo-white.png" />
				<p class="copyright">© 2005-2015 КАСТИНГОВОЕ АГЕНСТВО «EASYCAST». ВСЕ ПРАВА ЗАЩИЩЕНЫ. </p>
			</div>
			<div class="col-md-3">
				<ul>
					<li><a href="#">Контакты</a></li>
					<li><a href="#">Как это работает</a></li>
					<li><a href="#">Связаться с нами</a></li>
					<li><a href="#">Еще пункт</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li><a href="#">Контакты</a></li>
					<li><a href="#">Как это работает</a></li>
					<li><a href="#">Связаться с нами</a></li>
					<li><a href="#">Еще пункт</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<div id="dev">
					<img src="images/logolance.png" alt="Puertolance Web Studio"/>
					Разработка дизайна
					<a href="#">Puertolance</a>
				</div>
			</div>
		</footer>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom/icheck.min.js"></script>
    <script src="js/custom/imagesloaded.pkgd.min.js"></script>
    <script src="js/custom/positions.js"></script>
    <script src="js/custom/script.js"></script>
  </body>
</html>