<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyCast Redesign</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400,300,700&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
    <link href="css/custom/icheck/minimal/minimal.css" rel="stylesheet">
    <link href="css/custom/global.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/custom/jquery.fancybox.css" />
	<link rel="stylesheet" type="text/css" href="css/custom/jquery.fancybox-thumbs.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  </head>
  <body>
	<div class="container">
		<header class="row">
			<div id="nav-top">
				<div class="pull-left">
					<div id="logo"><a class="noborder" href="#"><img src="images/logo.png"/></a></div>
				</div>
				<div class="pull-right">
					<div id="search">
						<form action="" method="GET">    
							<input id="nav-search" value="Поиск по сайту" required="required" onfocus="this.value = ''" onblur="if (this.value == '') {this.value = 'Поиск по сайту';}" class="form-control" name="Search[QUERY]" type="text">    
							<input type="submit" name="yt2" value="">    
						</form>
					</div>
					<div id="user">
						<a class="noborder"><img class="avatar img-circle" src="images/user-avatar.jpg"/></a>
						<a class="name" href="#">Александр Бугаев</a>
						<a class="noborder" href="#"><img src="images/i-logout.png"/></a>
					</div>
				</div>
			</div>
			<div id="nav-menu">
				<ul>
					<li><a href="">Главная</a></li>
					<li class="active"><a href="">Проекты</a></li>
					<li><a href="">Мероприятия</a></li>
					<li><a href="">FAQ</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
		</header>
		<section class="row profile" id="content">
			<div class="col-md-3">
				
				<section class="row" id="breadcrumbs">
					<div itemprop="breadcrumb">
						<a class="nohover" href="/">Главная</a><em>></em><span class="brtitle">Проекты</span>
					</div>
				</section>
				
				<div class="row profile-avatar">
					<img src="images/sample17.jpg" />
					<div class="tr"></div>
				</div>
				
				<div class="row production">
					<img src="images/sample4.jpg" />
					<div class="info">
						<a href="#">Название продакшна</a>
						<span class="position">Руководитель проекта</span>
					</div>
				</div>
				
				<div class="pagehead"><div class="row title left black"><div class="tr"></div>Оповещения</div></div>
				
				<div class="row notifications">
					<div class="unread">
						<div class="urgent one">
							<a href="#">Здесь будет какой-нибудь текст или уведомление о важном событии</a>
						</div>
					</div>
					<h4>Прочитанные уведомления</h4>
					<div class="read">
						<div class="one">
							<a href="#">Здесь будет какой-нибудь текст или уведомление о важном событии</a>
						</div>
						<div class="one">
							<a href="#">Второе уведомление</a>
						</div>
						<div class="one">
							<a href="#">Здесь будет еще одно уведомление</a>
						</div>
					</div>
				</div>
				
				<div class="pagehead"><div class="row title left black"><div class="tr"></div>Оповещения</div></div>
				
				<div class="persons">
					<div class="one">
						<a href="#">
							<div class="u-item md" style="background-image: url(images/sample10.jpg);">
								<div class="data">
									<span class="name">Алиса Чеширская</span>
									<span class="general">27 лет, Москва</span>
								</div>
							</div>
						</a>
						<div class="row person-project">
							<img src="images/sample4.jpg" />
							<div class="info">
								<a href="#">Название проекта</a>
								<span class="position">Менеджер</span>
							</div>
						</div>
					</div>
					<div class="one">
						<a href="#">
							<div class="u-item bg-orange md" style="background-image: url(images/sample3.jpg);">
								<div class="data">
									<span class="name">Ирина Бузаева</span>
									<span class="general">24 лет, Дубна</span>
								</div>
							</div>
						</a>
						<div class="row person-project">
							<img src="images/sample7.jpg" />
							<div class="info">
								<a href="#">Название второго проекта</a>
								<span class="position">Модель</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="sticker">
					<div class="wrapper">
						<h3>Подсказка</h3>
						<div class="sticker_item">
							Здесь будет какой-нибудь текст в виде заметки слева или спрва
						</div>
					</div>
				</div>
				<br/><br/>
			</div>
			<div class="col-md-9">
				<div id="main">
					<div class="customer-profile">
					
					
						<div class="profile-head">
							<div class="profile-name pull-left">
								<h1><span>Оксана Аксенова<img src="images/i-pro.jpg"/></span></h1>
								<span class="you">Это вы</span>
							</div>
							<div class="stats pull-right">
								<table>
									<tr>
										<td>Проектов</td>
										<td>193</td>
									</tr>
									<tr>
										<td>Ролей</td>
										<td>5</td>
									</tr>
									<tr>
										<td>Мероприятий</td>
										<td>1232</td>
									</tr>
								</table>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="profile-nav">
							<div class="pull-left">
								<ul class="nomargin nopadding">
									<li class="active"><a href="#">Настройки профиля</a></li>
									<li><a href="#">Мои проекты</a></li>
									<li><a href="#">Моя страница</a></li>
								</ul>
							</div>
							<div class="pull-right">
								<a class="new-notification">У вас одно новое уведомление</a>
							</div>
							<div class="clearfix"></div>
						</div>
						
						<div class="row subhead short"><div class="title"><div class="tr"></div><span>Личные данные</span></div></div>
						<div class="hint">Заполните информацию о себе</div>

						
						<div class="profile-personal-data">
							<div class="row">
								<div class="col-md-12">
									<div class="e-progress">
										<div class="progress nomargin">
											<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
												<span class="sr-only">40% Complete (success)</span>
											</div>
											<span class="progress-type">Анкета заполнена на 40%</span>
											<span class="progress-completed"><i class="fa fa-pencil"></i><a href="#">Заполнить анкету</a></span>
										</div>
									</div>
								</div>
							</div>
							<!--
							<div class="profile-media">
								<div class="row">
									<div class="col-md-4"><div class="one">Загрузите фото</div><p class="text-center"><a href="#">Смотреть все фото</a></p></div>
									<div class="col-md-4"><div class="one">Загрузите видео</div><p class="text-center"><a href="#">Смотреть все видео</a></p></div>
									<div class="col-md-4"><div class="one">Загрузите аудио</div><p class="text-center"><a href="#">Смотреть все аудио</a></p></div>
								</div>
							</div>
							-->
						</div>
						
						<div class="user-menu">
							<ul>
								<li><a href="#model"><span>Модель поведения</span></a></li>
								<li><a href="#"><span>Оповещения</span></a></li>
								<li><a href="#"><span>Контакты и данные</span></a></li>
								<li class="active"><a href="#files"><span>Файлы</span></a></li>
								<li><a href="#"><span>Внешность</span></a></li>
								<li><a href="#"><span>Образование</span></a></li>
								<li><a href="#"><span>Навыки</span></a></li>
								<li class="last"><a href="#"><span>Условия участия</span></a></li>
							</ul>
						</div>
						<div class="white well">
							<div class="user-data" id="files">
								<div class="sect">
									<h3 class="text-center"><span>Ваши данные</span></h3>
									<h4>Что-нибудь</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									<h4>Языки</h4>
									<ul>
										<li>Русский</li>
										<li>Английский</li>
										<li>Испанский</li>
									</ul>
								</div>
								<div class="sect">
									<h3 class="text-center"><span>Ваши видео</span></h3>
									<div class="video-review inline">
										<a class="fancybox-media" title="" href="#">
											<span class="video-play-wrap">
												<img alt="" src="images/sample29.jpg">
												<span class="video-glow"></span>
												<span class="video-play"></span>
											</span>
										</a>
									</div>
									<div class="video-review inline">
										<a class="fancybox-media" title="" href="#">
											<span class="video-play-wrap">
												<img alt="" src="images/sample29.jpg">
												<span class="video-glow"></span>
												<span class="video-play"></span>
											</span>
										</a>
									</div>
								</div>
								<div class="sect">
									<h3 class="text-center"><span>Ваши фото</span></h3><br/>
									<div class="profile-user-photos">
										<div class="one"><a href="images/sample21.jpg" class="fancybox-thumb" rel="fancybox-thumb"><img class="img-responsive" src="images/sample21.jpg"></a></div>
									    <div class="one"><a href="images/sample17.jpg" class="fancybox-thumb" rel="fancybox-thumb"><img class="img-responsive" src="images/sample17.jpg"></a></div>
									    <div class="one"><a href="images/sample15.jpg" class="fancybox-thumb" rel="fancybox-thumb"><img class="img-responsive" src="images/sample15.jpg"></a></div>
									    <div class="one"><a href="images/sample16.jpg" class="fancybox-thumb" rel="fancybox-thumb"><img class="img-responsive" src="images/sample16.jpg"></a></div>    
									    <div class="one"><a href="images/sample20.jpg" class="fancybox-thumb" rel="fancybox-thumb"><img class="img-responsive" src="images/sample20.jpg"></a></div>
										<div class="one"><a href="images/sample21.jpg" class="fancybox-thumb" rel="fancybox-thumb"><img class="img-responsive" src="images/sample21.jpg"></a></div>
									    <div class="one"><a href="images/sample17.jpg" class="fancybox-thumb" rel="fancybox-thumb"><img class="img-responsive" src="images/sample17.jpg"></a></div>
									    <div class="one"><a href="images/sample15.jpg" class="fancybox-thumb" rel="fancybox-thumb"><img class="img-responsive" src="images/sample15.jpg"></a></div>
									    <div class="one"><a href="images/sample16.jpg" class="fancybox-thumb" rel="fancybox-thumb"><img class="img-responsive" src="images/sample16.jpg"></a></div>    
									    <div class="one"><a href="images/sample20.jpg" class="fancybox-thumb" rel="fancybox-thumb"><img class="img-responsive" src="images/sample20.jpg"></a></div>
									</div>
								</div>
							</div>
							
							<div style="display: none" class="user-data" id="model">
								<div class="sect">
									<h3 class="text-center"><span>Ваши данные</span></h3>
									<h4>Что-нибудь</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									<h4>Языки</h4>
									<ul>
										<li>Русский</li>
										<li>Английский</li>
										<li>Испанский</li>
									</ul>
								</div>
							</div>
							
						</div>
						
						<div class="row subhead short"><div class="title"><div class="tr"></div><span>Мой рейтинг</span></div></div>
						<div class="hint">Заполните информацию о себе</div>
						
						<div class="profile-rating">
							<div class="row">
								<div class="col-md-4">
									<div class="rating-box">
									    <div class="rating">
											<span class="rating-lg orange">63</span>
											<div class="rating-text">
												<span>/ 100</span>
												<span class="rating-category">за активность</span>
											</div>
										</div>
										<div class="clearfix"></div>
									    <div class="rating">
											<span class="rating-lg red">13</span>
											<div class="rating-text">
												<span>/ 100</span>
												<span class="rating-category">за что-нибудь еще</span>
											</div>
										</div>
										<div class="clearfix"></div>
									    <div class="rating">
											<span class="rating-lg green">89</span>
											<div class="rating-text">
												<span>/ 100</span>
												<span class="rating-category">не знаю за что</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-8">
									<div class="recs">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										<br/>
										<div class="one"><i class="fa fa-level-up"></i><a href="#">Подавайте больше заявок на роли</a></div>
										<div class="one"><i class="fa fa-plane"></i><a href="#">Участвуйте в наших проектах</a></div>
										<div class="one"><i class="fa fa-send-o"></i><a href="#">Сделайте еще что-нибудь</a></div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row subhead short"><div class="title"><div class="tr"></div><span>Прочие услуги</span></div></div>
						<div class="hint">Заполните информацию о себе</div>
						
						<div class="profile-services">
							<div class="row">
								<div class="col-md-6">
									<div class="one"><img src="images/i-gift.png" /><a href="#">Заказать подарок на День Рождения</a></div>
									<div class="one"><img src="images/i-camera.png" /><a href="#">Записать видео-отзыв о работе EasyCast</a></div>
									<div class="one"><img src="images/i-review.png" /><a href="#">Написать текстовый отзыв</a></div>
								</div>
								<div class="col-md-6">
									<div class="one"><img src="images/i-gift.png" /><a href="#">Заказать подарок на День Рождения</a></div>
									<div class="one"><img src="images/i-camera.png" /><a href="#">Записать видео-отзыв о работе EasyCast</a></div>
									<div class="one"><img src="images/i-review.png" /><a href="#">Написать текстовый отзыв</a></div>
								</div>
							</div>
						</div>
						
						<div class="row subhead short"><div class="title"><div class="tr"></div><span>Прочие услуги</span></div></div>
						<div class="hint">Заполните информацию о себе</div>
						
						<div class="profile-download">
							<div class="row">
								<div class="col-md-6">
									<div class="one"><img src="images/i-download.png" /><a href="#">Заказать подарок на День Рождения</a><span class="filesize">13 КБ</span></div>
									<div class="one"><img src="images/i-download.png" /><a href="#">Записать видео-отзыв о работе EasyCast</a><span class="filesize">13 КБ</span></div>
									<div class="one"><img src="images/i-download.png" /><a href="#">Написать текстовый отзыв</a></div>
								</div>
								<div class="col-md-6">
									<div class="one"><img src="images/i-download.png" /><a href="#">Заказать подарок на День Рождения</a><span class="filesize">13 КБ</span></div>
									<div class="one"><img src="images/i-download.png" /><a href="#">Записать видео-отзыв о работе EasyCast</a><span class="filesize">13 КБ</span></div>
									<div class="one"><img src="images/i-download.png" /><a href="#">Написать текстовый отзыв</a><span class="filesize">13 КБ</span></div>
								</div>
							</div>
						</div>
						
					</div>

				</div>
			</div>
		</section>
		<footer class="row">
			<div class="col-md-3">
				<img src="images/logo-white.png" />
				<p class="copyright">© 2005-2015 КАСТИНГОВОЕ АГЕНСТВО «EASYCAST». ВСЕ ПРАВА ЗАЩИЩЕНЫ. </p>
			</div>
			<div class="col-md-3">
				<ul>
					<li><a href="#">Контакты</a></li>
					<li><a href="#">Как это работает</a></li>
					<li><a href="#">Связаться с нами</a></li>
					<li><a href="#">Еще пункт</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li><a href="#">Контакты</a></li>
					<li><a href="#">Как это работает</a></li>
					<li><a href="#">Связаться с нами</a></li>
					<li><a href="#">Еще пункт</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<div id="dev">
					<img src="images/logolance.png" alt="Puertolance Web Studio"/>
					Разработка дизайна
					<a href="#">Puertolance</a>
				</div>
			</div>
		</footer>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom/icheck.min.js"></script>
    <script src="js/custom/imagesloaded.pkgd.min.js"></script>
    <script src="js/custom/positions.js"></script>
    <script src="js/custom/script.js"></script>
	<script src="js/custom/jquery.fancybox.pack.js"></script>
	<script src="js/custom/jquery.fancybox-thumbs.js"></script>
	
  	<script>
	$(".fancybox-thumb").fancybox({
		prevEffect	: 'none',
		nextEffect	: 'none',
		helpers	: {
			title	: {
				type: 'outside'
			},
			thumbs	: {
				width	: 100,
				height	: 100
			}
		}
	});
  	</script>
	<script>
		$(".user-menu a").click(function(){
			$(".user-data").fadeOut(100);
			$($(this).attr("href")).fadeIn(500);
		});
	</script>
  </body>
</html>