/* ==================================================
 Часто используемые css-классы для выполнения универсальных задач
 Помещаемые в этом файле стили должны работать одинаково в любой теме оформления
 Любые создаваемые css-классы должны иметь префикс "ec-"
 Создание селекторов по имени тега без указания класса (например li{}) запрещается без крайней необходимости
  
 @todo удалить из этой папки bg.gif (если откажемся от фона) и все остальные файлы стилей кроме этого, 
       проследив чтобы коммерческое предложение (easycast.ru/sale) не пострадало 
       (если оно вдруг использует отсюда что-то)
================================================== */

/**
 * Исправление позиционирования блочных элементов в разных браузерах
 * Это правило сильно уменьшает количество проблем с кроссбраузерной версткой
 * @see http://tympanus.net/codrops/2012/10/25/kick-start-your-project-a-collection-of-handy-css-snippets/
 */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
}
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
/**
 * Скругленные уголки у аватарок всех пользователей
 */
.ec-rounded-avatar, .ec-round-the-corner {
    border-radius: 10px;
}
/**
 * Стиль для раскрывающихся блоков меню: более темный, чтобы казалось что это "внутренняя часть" страницы
 */
.ec-internal-wrapper {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3) inset;
}

/**
 * Стили для теней
 */
.ec-shadow-3px {
    box-shadow: 0 0 5px 3px rgba(0,0,0,.35);
}
.ec-shadow-5px {
    box-shadow: 0 0 7px 5px rgba(0,0,0,.35);
}

.emphasize-dark {
  box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}
.emphasize-light {
  box-shadow: 0 0 0 10px rgba(255,255,255,.25);
}
.emphasize-inset {
  box-shadow: inset 0 0 7px 4px rgba(255,255,255,.5);
}
.emphasize-border {
  box-shadow: inset 0 0 0 7px rgba(255,255,255,.5);
}

.drop-shadow.top {
  box-shadow: 0 -4px 2px -2px rgba(0,0,0,0.4);
}
.drop-shadow.right {
  box-shadow: 4px 0 2px -2px rgba(0,0,0,0.4);
}
.drop-shadow.bottom {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}
.drop-shadow.left {
  box-shadow: -4px 0 2px -2px rgba(0,0,0,0.4);
}

/**
 * Градиенты
 */
.ec-gradient-light-linear {
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
}
.ec-gradient-dark-linear {
    background-image: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,0));
}
.ec-gradient-light-radial {
    background-image: radial-gradient(center 0, circle farthest-corner, rgba(255,255,255,0.4), rgba(255,255,255,0));
}
.ec-gradient-dark-radial {
    background-image: radial-gradient(center 0, circle farthest-corner, rgba(0,0,0,0.15), rgba(0,0,0,0));
}

/**
 * Стили для заголовков информационных блоков (например название проекта или роли) 
 * добавляют горизонтальную линию под заголовком для более четкого разделения названия и описания объекта
 */
.ec-details-header {
    border-bottom: 5px solid #47A3DA;
}
.ec-details-subheader {
    border-bottom: 1px dashed #CCC;
}

/**
 * Стили для блоков с треугольными стрелками (помещены здесь чтобы не подключать их при загрузке по AJAX)
 * @todo не пригодились, удалить при рефакторинге
 */
.ec-key-value-container {
    text-align: center;
    -moz-box-sizing: border-box;
}
.ec-key-block {
    padding-top: 10px;
    -moz-box-sizing: border-box;
}
.ec-value-block {
    -moz-box-sizing: border-box;
    padding: 10px;
}
svg.ec-triangle-spacer {
    pointer-events: none;
    display: block;
    overflow: hidden;
    -moz-box-sizing: border-box;
    /*margin-top: -1px;*/
}
.ec-triangle-spacer:after, .ec-triangle-spacer:before {
    -moz-box-sizing: border-box;
}
.ec-key-bg-info {
    background: none repeat scroll 0 0 #3498DB;
}
.ec-value-bg-info {
    background: none repeat scroll 0 0 #2980B9;
}
.ec-key-value-container-info {
    text-align: center;
    background: none repeat scroll 0 0 #3498DB;
}
.ec-key-block-info {
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.5;
    height: 100%;
}
.ec-value-block-info {
    color: white;
    line-height: 1.5;
    height: 100%;
}
.ec-value-block-info h1, .ec-value-block-info h2, .ec-value-block-info h3, .ec-value-block-info h4 {
    margin-top: 0px;
    padding-top: 0px;
}
.ec-triangle-spacer-info {
    background: none repeat scroll 0 0 #2980B9;
}
.ec-triangle-spacer-info path {
    fill: #3498DB;
    stroke: #3498DB;
    stroke-width: 2;
}
/* (конец стилей для блоков с треугольными стрелками) */

/**
 * Класс для отображения одного свойства объекта (например тип внешности в анкете)
 * Выглядит как маленький блок с цветной полоской слева и справа (или только слева)
 * Может выводить основную и дополнительную информацию, дополнительная информация выводится под основной
 * полупрозрачным цветом
 */
.ec-property-container {
    width:100%;
    /*border-bottom:1px dashed #ccc;*/
    background: repeat scroll 0 0 #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    -moz-box-sizing: border-box;
    margin-bottom: 5px;
    text-align:center;
}
.ec-property-container p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.ec-property-caption {
    opacity: 0.5;
    font-weight: 400;
    font-size: 1.2em;
}
.ec-dash-info {
    border-left: 5px solid #4183C4;
    border-right: 5px solid #4183C4;
}
.ec-dash-default {
    border-left: 5px solid #888;
    border-right: 5px solid #888;
}
.ec-left-dash-info {
    border-left: 5px solid #4183C4;
}
.ec-left-dash-default {
    border-left: 5px solid #888;
}

/* ===================================================================================
 ДОПОЛНИТЕЛЬНЫЕ ПРАВИЛА ДЛЯ ВСЕХ ПОДКЛЮЧАЕМЫХ ТЕМ ОФОРМЛЕНИЯ НА БАЗЕ BOOTSTRAP 2.3.2
====================================================================================== */
/**
 * Исправление размера input-полей и других элементов bootstrap, которые неверно масштабировались (сжимались)
 * после применения box-sizing: border-box;
 */
input, div.input-prepend, span.add-on, span.badge {
    box-sizing:         content-box;
    -moz-box-sizing:    content-box;
    -webkit-box-sizing: content-box;
    -o-box-sizing:      content-box;
}
/* Исправление размера плашек (bages) */
.badge {
    padding-bottom: 3px;
}

.page-alternate {
    padding-top: 0px;
}

.og-expander-inner {
    background-color: #fff;
}