.ec-garantiya {
	width:400px!important;
	margin:auto;
	display: block!important;
}

.ec-garantiya button {
	width: 400px!important;
	height: 60px!important;
}

button.ec-btn-garantiya, a.ec-btn-garantiya {
	padding: 11px 11px 16px 10px;
	font-size: 33px;
	line-height: 10px;
	border-radius: 6px;
	text-transform: uppercase;
	/*height: 48px;
	width: 234px;*/
	text-shadow: 0px 1px 4px #4D0E0E;
	-moz-text-shadow: 0px 1px 4px #4D0E0E;
	-webkit-text-shadow: 0px 1px 4px #4D0E0E;
	color: #FFF;
	background-image: -webkit-linear-gradient(top, #E52626, #940904);
	background-image: -moz-linear-gradient(top, #E52626, #940904);
	background-image: -ms-linear-gradient(top, #E52626, #940904);
	background-image: -o-linear-gradient(top, #E52626, #940904);
	background-image: linear-gradient(top, #E52626, #940904);
	border: none;
	border-bottom: 4px solid #6D0404;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.58); 
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.58);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.58);
}

button.ec-btn-garantiya span {
	font-weight: bold;
	font-size: 18px;
}

button.ec-btn-garantiya:hover, button.ec-btn-garantiya:active, button.ec-btn-garantiya:focus {
	background-image: -webkit-linear-gradient(top, #E52626, #940904);
    background-image: -moz-linear-gradient(top, #E52626, #940904);
    background-image: -ms-linear-gradient(top, #E52626, #940904);
    background-image: -o-linear-gradient(top, #E52626, #940904);
    background-image: linear-gradient(top, #E52626, #940904);
	text-shadow: 0px 1px 4px #4D0E0E;
	-moz-text-shadow: 0px 1px 4px #4D0E0E;
	-webkit-text-shadow: 0px 1px 4px #4D0E0E;
	color: #FFF;
	border: none;
	border: 1px solid #B11212;
	box-shadow: 0px 2px 0px #6D0404;
	-moz-box-shadow: 0px 2px 0px #9b5103;
	-webkit-box-shadow: 0px 2px 0px #6D0404;
	margin: 2px 0px -2px 0px;
	background-position: 0px!important;
}

/*
    Страница Гарантии
*/

.ec-gar_about {
    text-align: center;
    background-color: #FFF;
    margin: 10px auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.63);
    display: inline-block;
    border-radius: 10px;
    background: linear-gradient(to top, #F2F5F6, #FFF);
    background: -moz-linear-gradient(to top, #f2f5f6, #FFFFFF);
    background: -webkit-linear-gradient(to top, #f2f5f6, #FFFFFF);
    border-bottom: 4px solid #B4B4B4;
}

.ec-gar_about p {
    text-align: center;
    font-size: 20px;
    margin: 25px 20px;
    line-height: 23px;
}

.ec-gar_str {
    text-align: center;
}

.ec-gar_str div {
    margin-left:0px!important;
}

div.ec-gar_buttons {
    margin:  auto;
    display: inline-block;
}

div.ec-gar_buttons div {
    margin-left:0px;
    text-align:center;
    
}

div.ec-gar_buttons div button {
    width: 250px!important;
    height: 55px!important;
    padding: 13px 11px 21px 10px!important;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.46);
    -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.46);
    -webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.46);
    color: #552D02;
    font-weight: bold;
    font-size: 17px;
}

div.ec-gar_buttons div button:hover, div.ec-serv_buttons div button:active {
    color:#794003;
    box-shadow: 0px 2px 0px #9B5103;
    -moz-box-shadow: 0px 2px 0px #9b5103;
    -webkit-box-shadow: 0px 2px 0px #9B5103;
    margin: 2px 0px -2px 0px;
}
