@import "reset.css";
/*@import "ec-garantiya.css";*/
@font-face {
    font-family: century gothic; /* Гарнитура шрифта */
    src: url(../fonts/gothic.ttf); /* Путь к файлу со шрифтом */
 }
 
@font-face {
    font-family: micradi_regular; /* Гарнитура шрифта */
    src: url(../fonts/micradi_regular.ttf); /* Путь к файлу со шрифтом */
}
   
/**
 * Стиль фона сайта. Используется на всех страницах.
 */

.ec-body {
    background: #efefef url(../images/back.png) repeat;
    font-family: century gothic;
}


/* ==========  General styles ========== */

.ec-blockquote { border : 1px solid #d5d5d5; width: 702px; margin-top: 40px; padding: 15px 10px; quotes: "\201C" "\201D"; background: #fafafa; text-align: center; font-style: italic; font-size: 12px; border-left: 4px solid #d5d5d5; }
.ec-blockquote:before { content: open-quote; font-weight: bold; }
.ec-blockquote:after { content: close-quote; font-weight: bold; }

.ec-red { color: #B55D5C; }
.ec-green { color: #2a8827; }


.ec-p12 { padding: 12px; }
.ec-pt12 { padding-top: 12px; }

.ec-legendLabel span { display: block; margin: 0 5px; }
.ec-legendColorBox { padding-left: 10px; }

.ec-wrapper {
    width: 1324px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    border-top: none;
    border-bottom: none;
    height: 100%;
}

.ec-inner_wrapper {
    width:1324px; 
    margin:0 auto;
}
.ec-inner_wrapper h1 {

}

/* ==========  Additional reset classes  ========== */

.ec-mt40 { margin-top: 40px; }
.ec-nomargin { margin: 0!important; }
.ec-nopadding { padding: 0!important; }
.ec-noborder { border: none!important; }
.ec-nobg { background: none!important; }
.ec-floatleft { display: block; float: left; }
.ec-floatright { display: block; float: right; }
.ec-aligncenter { text-align: center; }
.ec-fix { clear: both; }
.ec-first { margin-top: 22px!important; }
.ec-inactive { margin-top: 0px; color: #2B6893; }



/* ==========  Buttons ========== */

.ec-button, .ec-input { 
    font-size: 10px; 
    font-weight: bold; 
    text-transform: uppercase;
    padding: 5px 14px 6px 14px; 
    cursor: pointer; 
    font-family: Arial, Helvetica, sans-serif; 
    line-height: 12px; 
}

.ec-join_but {
    margin-top: 6px;
    padding: 2px 5px 6px 5px;
    background-color: rgba(228, 229, 229, 1);
    border-radius: 8px;
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.36);
    display: inline-block;
}

.ec-join_but a {
    color:white; 
    text-transform:uppercase;
    padding: 14px 45px;
    float: left;
}

.ec-btn-blue {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #f5dd16, #d0792e);
    background-image: -moz-linear-gradient(top, #f5dd16, #d0792e);
    background-image: -ms-linear-gradient(top, #f5dd16, #d0792e);
    background-image: -o-linear-gradient(top, #f5dd16, #d0792e);
    background-image: linear-gradient(top, #f5dd16, #d0792e);
    border: 1px solid #b16627;
    box-shadow: 0px 4px 0px #9b5103;
    -moz-box-shadow: 0px 4px 0px #9b5103;
    -webkit-box-shadow: 0px 4px 0px #9b5103;
}

button.ec-btn {
    padding: 8px 11px 10px 10px;
    font-size: 15px;
    line-height: 10px;
    border-radius: 6px;
    /*height: 48px;
    width: 234px;*/
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.46);
    -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.46);
    -webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.46);
    color: #552D02;
    background-image: -webkit-linear-gradient(top, #F5DD16, #D0792E);
    background-image: -moz-linear-gradient(top, #f5dd16, #d0792e);
    background-image: -ms-linear-gradient(top, #f5dd16, #d0792e);
    background-image: -o-linear-gradient(top, #f5dd16, #d0792e);
    background-image: linear-gradient(top, #f5dd16, #d0792e);
    border-bottom: 3px solid #9B5103;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.58); 
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.58);
}

button.ec-btn:hover, button.ec-btn:active, button.ec-btn:focus {
    color:#794003;
    background-color:none;
    background-image: -webkit-linear-gradient(top, #F5DD16, #D0792E);
    background-image: -moz-linear-gradient(top, #f5dd16, #d0792e);
    background-image: -ms-linear-gradient(top, #f5dd16, #d0792e);
    background-image: -o-linear-gradient(top, #f5dd16, #d0792e);
    background-image: linear-gradient(top, #f5dd16, #d0792e);
    border: 1px solid #DBB22E;
    box-shadow: 0px 2px 0px #9B5103;
    -moz-box-shadow: 0px 2px 0px #9b5103;
    -webkit-box-shadow: 0px 2px 0px #9B5103;
    margin: 2px 0px -2px 0px;
    background-position: 0px!important;
}

button.ec-btn-primary, a.ec-btn-primary {
    padding: 12px 11px 13px 10px;
    font-size: 15px;
    margin-bottom: 2px;
    line-height: 10px;
    border-radius: 6px;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px #503D02;
    -moz-text-shadow: 0px 1px 1px #503D02;
    -webkit-text-shadow: 0px 1px 1px #503D02;
    color: #FFF;
    background-image: -webkit-linear-gradient(top, #F5DD16, #D0792E);
    background-image: -moz-linear-gradient(top, #f5dd16, #d0792e);
    background-image: -ms-linear-gradient(top, #f5dd16, #d0792e);
    background-image: -o-linear-gradient(top, #f5dd16, #d0792e);
    background-image: linear-gradient(top, #f5dd16, #d0792e);
    border: 1px solid #C96C0A;
	border: 1px solid rgba(246, 200, 151, 0.13);
	border-bottom: 4px solid #9B5103;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.58);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.58);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.58);
}

button.ec-btn-primary span {
    font-weight: bold;
    font-size: 18px;
}

button.ec-btn-primary:hover, 
button.ec-btn-primary:active, 
button.ec-btn-primary:focus,
a.ec-btn-primary:hover, 
a.ec-btn-primary:active,
a.ec-btn-primary:focus {
    color: #FFF;
    background-color:none;
    background-image: -webkit-linear-gradient(top, #F5DD16, #D0792E);
    background-image: -moz-linear-gradient(top, #f5dd16, #d0792e);
    background-image: -ms-linear-gradient(top, #f5dd16, #d0792e);
    background-image: -o-linear-gradient(top, #f5dd16, #d0792e);
    background-image: linear-gradient(top, #f5dd16, #d0792e);
    border: 1px solid #DBB22E;
    box-shadow: 0px 2px 0px #9B5103;
    -moz-box-shadow: 0px 2px 0px #9b5103;
    -webkit-box-shadow: 0px 2px 0px #9B5103;
    margin: 2px 0px 0px 0px!important;
    background-position: 0px!important;
}

.ec-join_but button.ec-btn-primary {
    height: 43px;
    width: 198px;
    line-height: 23px;
}

.ec-join_but button.ec-reg, .ec-join_but a.ec-reg {
    font-size: 19px;
    width: 174px;
}

.ec-join_but button.invitation {
    margin-right: 2px;
}

.ec-join_but button.filming, .ec-join_but button.invitation {
    width: 96px;
}

button.ec-btn-info {
    background: linear-gradient(to top, #377F94, #6FADCD);
    background: -webkit-linear-gradient(to top, #377F94, #6FADCD);
    background: -moz-linear-gradient(to top, #377F94, #6FADCD);
    border-bottom: 4px solid #275568;
    box-shadow: 0px 2px 3px rgba(3, 53, 73, 0.78);;
    -moz-box-shadow: 0px 2px 3px rgba(3, 53, 73, 0.78);;
    -webkit-box-shadow: 0px 2px 3px rgba(3, 53, 73, 0.78);;
    padding: 12px 16px;
    font-size: 20px;
    line-height: 0.33;
    border-radius: 6px;
    text-transform: uppercase;
    height: 48px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.67);
    -moz-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.67);
    -webkit-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.67);
    width: 160px;
    color:#fff;
}
button.ec-btn-info:hover {
    background-position: 0px;
    border-bottom: 2px solid #275568;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #FFF;
    padding-top: 11px;
    line-height: 1.33;
}

.ec-label {
    color: #858585;
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.55);
    border:none;
    border-radius: 7px;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.39);
    -moz-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.39);
    -webkit-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.39);
    padding:2px 13px;
    margin-top: 3px;
}

/**
 * Стиль шапки сайта. Используется на всех страницах.
 */

.ec-header {
    width:100%; 
    background: url(../images/head_fon.png) no-repeat;
    background-position:top center;
    height:156px;
    position: relative;
    z-index: 10;
}

.ec-top {
    height:180px; 
    width:1170px;  
    margin:0 auto;
    
}
.ec-logo {
    margin:0 auto;
    width:395px;
    text-align: center;
}

.ec-logo a img {
    height:85px;
}


.ec-top_center {
    width:794px; 
    margin: 0 auto; 
    height:184px; 
    float:left;
}

div.ec-top div.ec-top_center {

    margin: 0 auto; 
    height:184px; 
    float:left;
}

.ec-top ul {font-family:century gothic;float: left;margin-top: 3px;margin-left: 0px!important;}
.ec-top ul li {display: inline-block; color: #606060; margin: 1px 0px!important;padding: 0px 0px;font-size: 14px;}
.ec-top ul li  h4 {}
.ec-top ul li input {
    border-radius: 10px;
    box-shadow: none;
    border: none;
    padding: 5px;
    width: 159px;
    background-color: #dde1e2;
    color: #777777;
}
.ec-top ul li a {color: #606060;text-transform: uppercase;font-size: 14px;}
.ec-top ul li a.active {color:#42b347}
.ec-top .enterbut {
    height: 32px;
    width: 205px;
    float: left;        
    border-radius: 0px 0px 5px 5px;
    text-align: left;
    color:#797979;  
    font-size: 14px;
    font-family: century gothic;
    border: 1px solid #cdcdcd;
    box-shadow: inset 0px -2px 10px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: inset 0px -2px 10px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: inset 0px -2px 10px rgba(0, 0, 0, 0.19);
    border-top: none;
    background: #edeff0;
    margin-top: -4px;
}
.ec-top .enterbut .in_enterbut {margin-top: 4px;font-size: 12px;padding-top: 3px;text-align: center;}
.ec-top .enterbut .in_enterbut a {color: #797979;margin: 0px 0px 0px 0px; padding-top: 0px;border-bottom: 1px dotted;}
.ec-top .enterbut .in_enterbut a.name_user {font-size: 15px;width: 120px;height: 26px;float: left;border-bottom: none;overflow: hidden;text-align: left;}
.ec-top .enterbut .in_enterbut a.exit {float: right; margin-right: 6px;}
.ec-top .enterbut .in_enterbut a:hover {text-decoration:none;}

.ec-top .enterbut .in_enterbut img {height: 20px; margin: -1px 6px 2px 4px;border-radius: 6px;border: 2px solid #B9B9B9;float: left;}

.ec-top_info {
    float: left;
    width: 730px;
    margin-top: 50px;
}
.ec-top_left {
    float:left;
    /*width: 255px;*/
    margin-left: 0px!important;
}   
.ec-top_right {
    float: left;
    width: 255px;
    /* zoom: 0.8; */
}

.ec-contacts {
    list-style-type: none;
}
.ec-contacts li {}
.ec-contacts li img {
    float: left;
    margin: 2px 5px 0px 0px;
}
.ec-contacts li span { 
    color:#7a7a7a;
    margin-left: 5px;
    background-color: #E9E9E9;
    border-radius: 5px;
    padding: 0px 5px;
    box-shadow: inset 0px 1px 0px #D1D1D1;
    -moz-box-shadow: inset 0px 1px 0px #D1D1D1;
    -webkit-box-shadow: inset 0px 1px 0px #D1D1D1;
    font-size: 14px;
}
.ec-contacts li a {margin: 0px 6px; float:left;}
.ec-contacts li .tweet {
    background: url(../images/tweet.png); 
    width:20px; 
    height:16px; 
    margin: 1px 0px 1px 0px;
}
.ec-contacts li .tweet:hover { 
    background-position:0px 16px;
    margin-left: 0px;
}

.ec-contacts li .facebook {
    background: url(../images/facebook.png);
    width:11px; 
    height:15px; 
}
.ec-contacts li .facebook:hover {
    background-position:0px 17px;
    height:18px;
}

.ec-contacts li .vkontakte {
    background: url(../images/vk.png);
    width:14px; 
    height:17px;
}
.ec-contacts li .vkontakte:hover {
    background-position:0px 17px;
    height:18px;
}

.ec-contacts li .odnoklassnik {
    background: url(../images/odnoklassniki.png); 
    width:10px; 
    height:15px;
}
.ec-contacts li .odnoklassnik:hover {
    background-position:0px 16px;
}

.ec-contacts li .googleplus {
    background: url(../images/google.png);
    width:18px; 
    height:16px; 
}
.ec-contacts li .googleplus:hover {
    background-position:0px 17px;
    height:18px;
}

.ec-contacts li .mail {
    background: url(../images/email.png);
    width:19px; 
    height:19px;
    margin: -1px 0px 0px -2px;
}
.ec-contacts li .mail:hover {
    background-position:0px 19px;
}

.ec-contacts li .add_social {
    background: url(../images/add.png); 
    width:20px; 
    height:20px;
    margin-top: -2px;
}

.ec-switch {
    display: block;
    margin: 0 auto;
    margin-top: -2px;
    zoom: 0.9;
    -ms-zoom: 0.9;
    transform: scale(0.9);
    text-align: center;
}   

    
a.ec-switch_href {
    background: url(../images/switch_fon.png); 
    height: 50px;
    width: 144px;
    font-size: 16px;
    display: inline-block;
    text-align: left;
}

.ec-switch span {
    margin:15px 15px  8px 15px;
    color: #7e7e7e;
    text-shadow: 1px 2px 3px white;
    font-size: 23px;
    display: inline-block;
    text-align: center;
}

.ec-switch span.ec-left {
}

.ec-switch span.ec-right {
}


/**
 * Стиль меню сайта. Используется главной странице.
 */


.ec-choose_your_side, .ec-contact_profile {
    width:1170px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    display: inline-block;
    margin-top: 10px;
    padding: 0px 0px 0px 8px;
}
.ec-choose_your_side li {
    display: inline-block;
    background: url(../images/razdel.png) no-repeat;
    width: 160px;
    height: 162px;
    color:#2e6d82;
    font-size: 18px;
    text-align: center;
}
.ec-choose_your_side li a {
    color:#396E94;
    float: left;
    height: 117px;
    text-align: center;

}
.ec-choose_your_side li a:hover {
    background-position-y: -83px;
    float: left;
    height: 117px;
    color: #fff;
}
.icon_office {
    background: url(../images/office.png) no-repeat;
    background-position: 33px 14px;
}
.icon_calendar {
    background: url(../images/calendar.png) no-repeat;
    background-position: 33px 17px;
}

.icon_casting {
    background: url(../images/casting.png) no-repeat;
    background-position: 35px 17px;
}

.icon_konsultant {
    background: url(../images/konsultant.png) no-repeat;
    background-position: 35px 17px;
}

.icon_galery {
    background: url(../images/gallery.png) no-repeat;
    background-position: 34px 18px;
}
.icon_news {
    background: url(../images/news.png) no-repeat;
    background-position: 33px 14px;
}
.icon_forum {
    background: url(../images/forum.png) no-repeat;
    background-position: 33px 21px;
}

.ec-choose_your_side li a.icon_office:hover  {}
.ec-choose_your_side li a.icon_calendar:hover  {
    background-position: 33px -88px;
}

.ec-choose_your_side li a.icon_galery:hover  {
    background-position: 33px -87px;
}
.ec-choose_your_side li a.icon_news:hover  {}
.ec-choose_your_side li a.icon_forum:hover  {}
.ec-choose_your_side li a.icon_casting:hover  {
    background-position: 35px -89px;
}
.ec-choose_your_side li a.icon_konsultant:hover  {
    background-position: 35px -89px;
}

.icon_zakaz {
    background: url(../images/zakaz.png) no-repeat;
    background-position: 31px 14px;
}

.icon_faces {
    background: url(../images/faces.png) no-repeat;
    background-position: 33px 14px;
}
.icon_search {
    background: url(../images/search.png) no-repeat;
    background-position: 37px 14px;
}
.icon_services {
    background: url(../images/services.png) no-repeat;
    background-position: 36px 14px;
}
.icon_projects {
    background: url(../images/projects.png) no-repeat;
    background-position: 35px 17px;
}
.icon_how-it-work {
    background: url(../images/how-it-work.png) no-repeat;
    background-position: 33px 14px;
}
.icon_locations {
    background: url(../images/locations.png) no-repeat;
    background-position: 34px 22px;
}
.icon_about {
    background: url(../images/about.png) no-repeat;
    background-position: 35px 21px;
}

.ec-choose_your_side li a.icon_zakaz span, 
.ec-choose_your_side li a.icon_services span, 
.ec-choose_your_side li a.icon_projects span, 
.ec-choose_your_side li a.icon_how-it-work span,
.ec-choose_your_side li a.icon_casting span,
.ec-choose_your_side li a.icon_office span,
.ec-choose_your_side li a.icon_galery span,
.ec-choose_your_side li a.icon_konsultant span {
    margin-top:105px;
}

.ec-choose_your_side li a.icon_zakaz:hover  { }
.ec-choose_your_side li a.icon_faces:hover  { }
.ec-choose_your_side li a.icon_search:hover  { }
.ec-choose_your_side li a.icon_services:hover  { }
.ec-choose_your_side li a.icon_projects:hover  {
    background-position: 35px -87px;
}
.ec-choose_your_side li a.icon_how-it-work:hover  { }
.ec-choose_your_side li a.icon_locations:hover  { }
.ec-choose_your_side li a.icon_about:hover  { }

.ec-choose_your_side li:hover {background: url(../images/razdel_hover.png) no-repeat;}
.ec-choose_your_side .choose_active {background: url(../images/razdel_hover.png) no-repeat;color: white;}
.ec-choose_your_side .choose_active a {color: white;}

.icon_akters {
    background: url(../images/akters.png) no-repeat;
    background-position: 35px 21px;
}

.icon_mass {
    background: url(../images/massovka.png) no-repeat;
    background-position: 35px 26px;
}

.icon_mass span {
    font-size:14px;
    margin-top:111px!important;
}

.icon_dance {
    background: url(../images/dance.png) no-repeat;
    background-position: 35px 19px;
}

.icon_modeli {
    background: url(../images/modeli.png) no-repeat;
    background-position: 35px 19px;
}

.icon_media {
    background: url(../images/media.png) no-repeat;
    background-position: 35px 19px;
}

.icon_media span {
    font-size: 16px;
    margin-top: 108px!important;
}

.icon_media2 {
    background: url(../images/media2.png) no-repeat;
    background-position: 35px 19px;
}

.icon_media2 span {
    font-size: 16px;
    margin-top: 108px!important;
}

.icon_children {
    background: url(../images/children.png) no-repeat;
    background-position: 35px 19px;
}

.icon_modeli {
    background: url(../images/modeli.png) no-repeat;
    background-position: 35px 19px;
}

.icon_dvoiniki {
    background: url(../images/dvoiniki.png) no-repeat;
    background-position: 35px 19px;
}

.icon_music {
    background: url(../images/music.png) no-repeat;
    background-position: 35px 19px;
}

.icon_music span {
    font-size: 16px;
    margin-top: 106px!important;
}

.icon_no_russia {
    background: url(../images/no_russia.png) no-repeat;
    background-position: 35px 19px;
}

.icon_vedushie {
    background: url(../images/vedushie.png) no-repeat;
    background-position: 35px 23px;
}

.icon_twins {
    background: url(../images/twins.png) no-repeat;
    background-position: 35px 26px;
}

.icon_m_people {
    background: url(../images/m_people.png) no-repeat;
    background-position: 35px 21px;
}

.icon_m_people span {
    margin-top: 108px!important;
}

.icon_tipagi {
    background: url(../images/tipagi.png) no-repeat;
    background-position: 35px 21px;
}

.icon_sport {
    background: url(../images/sport.png) no-repeat;
    background-position: 35px 21px;
}

.ec-choose_your_side li a.icon_dvoiniki:hover
{
    background-position-y:-78px;
}

.ec-choose_your_side li a.no_russia:hover
{
    background-position-y:-80px;
}

.ec-choose_your_side li a.icon_vedushie:hover
{
    background-position-y:-83px;
}

.ec-choose_your_side li a.icon_sport:hover
{
    background-position-y:-88px;
}

.ec-choose_your_side li a.icon_tipagi:hover
{
    background-position-y:-88px;
}

.ec-choose_your_side li a.icon_akters:hover,
.ec-choose_your_side li a.icon_mass:hover,
.ec-choose_your_side li a.icon_children:hover
{
    background-position-y:-76px;
}


.ec-choose_your_side li a img {
    width: auto;
    margin: 0 auto;
}
.ec-choose_your_side li a span{
    display: block;

    text-align: center;
    width: 135px;
    margin: auto;
    float: left;
    position: relative;
    margin-top: 125px;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 116px;
    padding: 0px 13px;
}




.mobile_numbers {
    float: left;
    width: 175px;
}
.mobile_numbers span {
    font-size: 24px;
    font-style: italic;
    color: #767676;
}
.order_call {
    float: left;
    padding: 7px 14px;
    border-radius: 8px;
    background-color: rgb(132, 184, 105);
    box-shadow: inset 0px 0px 6px rgb(116, 116, 116);
    margin-left: 50px;
    margin-top: 12px;
}
.order_call img  {
    padding: 0!important;
    margin-top: 2px;
    margin-right: 10px;
}
.order_call span  {
    float: left;
    font-size: 14px;
    color: white;
    font-style: italic;
    text-shadow: 0px 0px 7px black;
}
.order_bag {
    float: left;
    width: 273px;
    margin-left: 40px;
    margin-top: 11px;
}
.order_bag img {
    float: left;
    margin-right: 3px;
}
.order_bag span {
    float: left;
    color: #578340;
    font-size: 24px;
    font-style: italic;
}
.order_bag a {
    float: left;
    color: #6e6e6e;
    font-style: italic;
    font-size: 11px;
    margin-top: 10px;
    margin-left: 5px;
}
.order_bag p {
    float: left;
    padding: 0;
    color: #578340;
    font-size: 18px;  font-style: italic;
    margin: 6px;
}


.line {
    height:63px;
    width: 880px; 
    background: url(../images/line.png) no-repeat;
    float: left;
    margin-top: -40px;
    position: relative;
    z-index: 1;
}
.new_ships {
    width: 880px; 
    height:85px; 
    float:left;
}
/* =========================== SLIDER ============================= */

#example {
    width:1000px;
    height:380px;
    position:relative;
    margin: 0 auto;
    
    
}

#ribbon {
    position:absolute;
    top:-3px;
    left:-15px;
    z-index:500;
}

#frame {
    position:absolute;
    z-index:0;
    width:1000px;
    height:380px;
    top:-3px;
    left:-80px;
    display:none;
}

/*
    Slideshow
*/

#slides {
    z-index:100;
    float: left;
}

.slides_container {
    width: 980px;
    height: 612px;
    overflow:hidden;
    position:relative;
    display:none;
    float: left;
}

.slides_container div.slide {
    width: 980px;
    height: 612px;
    display:block;
    
}


/*
    Next/prev buttons
*/

#slides .next,#slides .prev {
    position:absolute;
    top: 314px;
    left:-24px;
    width:24px;
    height:43px;
    display:block;
    z-index:101;
}

#slides .next {
    left: 981px;
}

.ec-foot {    
    clear: both;
    display: block;
    color: #7b7b7b;
    font-size: 15px;
    font-style: italic;
    margin-bottom:20px;
}






.ec-banner {
    width:1324px;
    margin:0 auto;
}

/*
    Стиль футера. Используется на всех страницах.
*/

.ec-footer {    
    width:100%;
    height:126px; 
    background: url(../images/footer.png) repeat-x; 
    position: relative;
    bottom: 0;
}


/*
    Стиль событий. Используется на главной странице.
*/

.single_news {
    width: 630px;
    float: left;
}
.single_news img {
    float: left;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    margin: 5px;
}
.news_content {
    float: left;
    width: 420px;
    margin-top: 6px;
    margin-left: 10px;
}
.news_top {
    float: left;
    width: 410px;
    margin-bottom: 9px;
}
.news_top .date {
    color: #be790c;
    font-size: 20px;
}
.news_top span {

}
.news_top .hashtag {
    color: white;
    background-color: #9d9d9d;
    padding: 2px;
    border-radius: 5px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.63);
    margin-left: 10px;
}

.take_part {background: url(../images/take_part.png) no-repeat; width:101px; height:33px;float: right;margin-top: -4px;/* margin-right: 10px; */}
.take_part a {
    font-size: 13px;
    padding: 9px;
    padding-left: 12px;
}
.news_title {
    color: #545454;
    font-family: century gothic;
    font-size: 20px;
    float: left;
    line-height: 1;
}
.news_text {
    color: #4f4f4f;
    font-size: 16px;
    line-height: 1;
}
.our_choice {background: url(../images/our_choice.png) no-repeat; position:absolute; width:394px; height:89px;left: -166px;top: -77px;}
.our_projects {background: url(../images/our_projects.png) no-repeat; position:absolute; width:470px; height:100px;left: -177px;top: -81px;}
.our_rezim {background: url(../images/our_rezim.png) no-repeat; position:absolute; width:448px; height:69px;left: 665px;top: -70px;}
.our_events {background: url(../images/our_events.png) no-repeat; position:absolute; width:405px; height:79px;left: 300px;margin-top: 17px;}
.our_uslugi {background: url(../images/our_uslugi.png) no-repeat; position:absolute; width:294px; height:110px;left: -281px;/* top: -0px; */margin-top: -60px;}
.read_more {float:right; margin-right:10px; margin-top:0px;color: #888888;}
.sepparater {
    width: 1px;
    background: url(../images/separator.png) no-repeat;
    height: 197px;
    position: absolute;
    margin-top: 96px;
    margin-left: 660px;
    z-index: 1;
}

.news_top  button.ec-btn-primary {
    height: 22px;
    padding: 4px 10px;
    margin-top: -7px;
    font-size: 12px;
    box-shadow: 0px 3px 1px #9B5103;
    -moz-box-shadow: 0px 3px 1px #9b5103;
    -webkit-box-shadow: 0px 3px 1px #9B5103;
    border: none;
}

.news_top  button.ec-btn-primary:hover{
    color: #FFF;
    background-color:none;
    background-image: -webkit-linear-gradient(top, #F5DD16, #D0792E);
    background-image: -moz-linear-gradient(top, #f5dd16, #d0792e);
    background-image: -ms-linear-gradient(top, #f5dd16, #d0792e);
    background-image: -o-linear-gradient(top, #f5dd16, #d0792e);
    background-image: linear-gradient(top, #f5dd16, #d0792e);
    border: 1px solid #DBB22E;
    box-shadow: 0px 1px 1px #9B5103;
    -moz-box-shadow: 0px 1px 1px #9b5103;
    -webkit-box-shadow: 0px 1px 1px #9B5103;
    /*margin: 2px 0px -2px 0px;*/
}

/*
    Стиль поиска. Используется на главной странице.
*/
/*
.main-search {
    width: 1170px;
    height: auto;
    background-color: #FFF;
    margin: 0 auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.63);
    display: inline-block;
    border-radius: 10px;
    background: linear-gradient(to top, #F2F5F6, #FFF);
    background: -moz-linear-gradient(to top, #f2f5f6, #FFFFFF);
    background: -webkit-linear-gradient(to top, #f2f5f6, #FFFFFF);
    border-bottom: 6px solid #B4B4B4;
    padding: 0px 0px 25px 0px;
    display: inline-block;
}

div.main-search div.ml20 div {
    margin-left:0px!important;
}

.main-search h3 {
    color: #497A89;
    display: inline-block;
    margin: 10px 0px 0px 20px;
}

.main-search div.span12 {
    margin:5px;
    width: 1290px;
    margin-top: 10px;
}

.main-search div.ec-join_but, .ec-advanced-search div.ec-join_but {
    width:159px;
    margin-top: -3px;
}

.search_select {
    display:inline;
    margin-right: 30px; 
    margin-left: 0px!important;
}

.ec-bigsearch-link {
    float:right;
    margin:10px;
}*/


/*
    Стиль меток. Используется на всех страницах.
*/

/*body .ec-nav-tabs > .active > a, body .ec-nav-tabs > .active > a:hover, body .ec-nav-tabs > .active > a:focus {
    color: #858585;
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.55);
    border:none;
    border-radius: 7px;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.39);
    -moz-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.39);
    -webkit-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.39);
    padding:2px 13px;
    margin-top: 8px;
}

body .ec-nav-tabs > .active > a:hover, body .ec-nav-tabs > .active > a:focus {
    color: #B49A23;
}

body .ec-nav-tabs > li > a {
    color: #858585;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.39);
    -moz-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.39);
    -webkit-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.39);
    text-transform: uppercase;
    margin-right:10px;
}

body .ec-nav > li > a:hover, body .nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0.07);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
    border:none;
    border-radius: 7px;
    padding:2px 13px;
    margin-top: 8px;
    margin-bottom: 6px;
}
*/
body .ec-nav-tabs {
    border:none;
    margin-left: 300px;
    margin-top: 29px;
    margin-bottom: 0px!important;
    position: relative;
}

span.ec-label, span.ec-badge {
    display: inline-block;
    padding: 3px 4px 4px 4px;
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    color: #fff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.65);
    -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.65);
    -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.65);
    background-color: rgba(0, 0, 0, 0.28);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.42);
    border-radius: 8px!important;
}

/*
    Стиль меток. Используется на всех страницах.
*/

.ec-tabs {
    border:none!important;
}

.ec-tabs li.active a {
    color: #555555;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	cursor: default;
	background-color: #FFF;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	display: inline-block;
	border: none;
	border-radius: 5px;
	background: linear-gradient(to top, #F2F5F6, #FFF);
	background: -moz-linear-gradient(to top, #f2f5f6, #FFFFFF);
	background: -webkit-linear-gradient(to top, #f2f5f6, #FFFFFF);
	padding: 3px 9px!important;
	border-bottom: 3px solid #B4B4B4;
	margin: 6px 5px 4px 5px;
}

.ec-tabs li a:hover, .ec-tabs li a:focus {
    color: #555555;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	cursor: default;
	background-color: #FFF;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	display: inline-block;
	border: none;
	border-radius: 5px;
	background: linear-gradient(to top, #F2F5F6, #FFF);
	background: -moz-linear-gradient(to top, #f2f5f6, #FFFFFF);
	background: -webkit-linear-gradient(to top, #f2f5f6, #FFFFFF);
	padding: 3px 9px!important;
	border-bottom: 3px solid #B4B4B4;
	margin: 4px 5px;
}


/*
    Стиль для отображения результатов поиска. Используется на всех страницах.
*/

.contact_profile li {
    display: inline-table;
    width: 169px;
    margin: 0px 10px 25px 10px;
}
.contact_profile_img_inner {
    background-color:white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.47);
    padding: 9px;
    border-radius: 10px;
    border: none;
    border-bottom: 4px solid #C4D1DA;
}
.contact_profile_img_inner img{
    width:151px;
    height:151px; 
    /*box-shadow: inset 15px 44px 6px black;*/
    border-radius: 10px;
}
.contact_profile_inner {}
.contact_data {
    font-size: 21px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact_data a {
    color:#60696e;
    text-decoration:none;
}
.contact_data a:hover {
    color:#60696e;
    text-decoration:none;
}
.contact_profile_inner .age {}


.img-shadow {
    position: relative;
    display: inline-block;
}
.img-shadow::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 10px 10px rgba(0,0,0,.5) inset;
    content: "";
}
.img-shadow>img {
    vertical-align: top;
}

/*
    Стиль для формы поиска. Используется на странице поиска.
*/

.ec-advanced-search {
    width: 1170px;
    height: auto;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.63);
    display: inline-block;
    border-radius: 10px;
    /* height: 640px; */
    background: linear-gradient(to top, #f2f5f6, #FFFFFF);
    background: -moz-linear-gradient(to top, #f2f5f6, #FFFFFF);
    background: -webkit-linear-gradient(to top, #f2f5f6, #FFFFFF);
    border-bottom: 6px solid #B4B4B4;
    padding-bottom: 10px;
}
.search-column {
    float: left;
    display: inline-block;
    width: 330px;
    margin-top:10px ;
}
.search-column ul {
    display: inline-block;
    margin: 0;
    text-align: left;
}
.search-column ul li{
    display: inline-block;
    margin-bottom: 10px;
    text-align: left;
}
.search-column ul li h3{
    font-size: 20px;
    font-weight: normal;
    color: #497a89;
    margin: 0px 0px -9px 12px;
}
div.search-column input {
    height: 38px;
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.22);
    border-radius: 7px;
}
.ec-usual_suspects {
    margin-left: 12px!important;
    margin-top: 19px;
}

.main-search div.ml45 {
    margin-left:43px;
}

.main-search div.ml20 {
    margin-left:20px;
}


.ec-usual_suspects div.ec-join_but {
    width: 60px;
    margin-top: 8px;
    margin: 3px 6px!important;
}
.ec-usual_suspects .ec-join_but button.ec-btn-primary{height: 60px;
    width: 60px;
    margin-left: 0px;
}
.ec-usual_suspects .ec-join_but button.ec-btn-usual {
    background-image: -webkit-linear-gradient(top, #fefefe, #ececec);
    background-image: -moz-linear-gradient(top, #fefefe, #ececec);
    box-shadow: 0px 2px 2px #949494;
    -webkit-box-shadow: 0px 3px 3px rgba(148, 148, 148, 0.75); 
    -moz-box-shadow: 0px 4px 2px #949494;
    border: none;
    border-bottom: 3px solid #C7C4C4;
    padding: 0px;
    overflow: hidden;
}

.ec-usual_suspects .ec-join_but button.ec-btn-usual:hover,
.ec-usual_suspects .ec-search-section-active,
.ec-usual_suspects .ec-join_but button.ec-btn-usual:active{
    background-color:none;
    background-image: -webkit-linear-gradient(top, #F5DD16, #D0792E);
    backgroun-image: -moz-linear-gradient(top, #f5dd16, #d0792e);
    background-image: -ms-linear-gradient(top, #f5dd16, #d0792e);
    background-image: -o-linear-gradient(top, #f5dd16, #d0792e);
    background-image: linear-gradient(top, #f5dd16, #d0792e);
    border: 1px solid #DBB22E;
    box-shadow: 0px 2px 2px #9B5103;
    -moz-box-shadow: 0px 2px 2px #9b5103;
    -webkit-box-shadow: 0px 2px 0px #9B5103;
    margin: 2px 0px -2px 0px;
    background-position: 0px;
}

.ec-usual_suspects .ec-search-section-active img,
.ec-usual_suspects .ec-join_but button.ec-btn-usual:hover img {
    margin-top:-80px;
}

div.ec-advanced-search div.search-column {
    margin-left:10px!important;
}

div.ec-advanced-search div.search-column ul li input {
    width: 245px;
    margin-left: 10px;
    height: 44px;
    margin-bottom: 0px;
}
div.ec-advanced-search div.search-column ul li label.radio input {
    height: auto; 
    width:auto;
    margin-left:0px;
    box-shadow: none;
}

/*
    Стиль для радио-кнопок.
*/

.ec-search_choice {
    position: relative;
    border: 1px solid rgba(170, 170, 170, 0.46);
    white-space: nowrap;
    line-height: 26px;
    color: #a2a2a2;
    text-decoration: none;
    border-radius: 9px;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
    background-image: linear-gradient(top, #fff 0%, #eee 50%);
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.22);
    margin: 0px 0px 0px 10px;
    width: 257px;
    padding: 5px 0px;
}

.ec-search_choice p {
    font-size: 18px;
    color: #a2a2a2;
    margin: 0px 0px 4px 15px;
}

.ec-search_choice p label {
    display:inline;
    font-size: 18px;
}

input[type="radio"] + label {
    font-family: century gothic, sans-serif;
    font-size: 16px;
}

input[type="radio"] + label span {
    display:inline-block;
    margin:0px 8px 0 0;
    vertical-align:middle;
    cursor:pointer;
    display: inline-block;
    width: 25px;
    height: 27px;
    border-radius:4px;  
    background-clip: padding-box;
    background-color: rgba(228, 229, 229, 1);
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.36);

}

input[type="radio"]:checked + label span { 
    border-left: 3px solid #507584;
    background: #377f94;
    background: linear-gradient(to top, #377f94, #6fadcd);
    background: -webkit-linear-gradient(to top, #377f94, #6fadcd);
    background: -moz-linear-gradient(to top, #377f94, #6fadcd);
    box-shadow: -1px 0px 3px rgba(38, 68, 80, 0.85);
    -moz-box-shadow: -1px 0px 3px rgba(38, 68, 80, 0.85);
    -webkit-box-shadow: -1px 0px 3px rgba(38, 68, 80, 0.85);
}

input[type="radio"] + label span.chek {
    margin-right:11px;
}

.ec-style-list {
    display:-webkit-inline-box;
    margin: 5px 0px 0px 0px!important;
}

p.ec-style-list {
    display:-webkit-inline-box;
    margin-left: 20px!important;
}

/*
    Стиль для страницы услуг.
*/


div.ec-serv_page {
    margin-left:0px;
}

div.ec-serv_block {
    width:545px;
    position:relative;
    float:left;
    margin: 20px;
}

div.ec-serv_img {
    width:160px;
    height: 200px;
    float:left;
    display: inline-block;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
    display: inline-block;
    border-radius: 6px;
    border-bottom: 3px solid #A0A0A0;
    background: linear-gradient(to top, #f2f5f6, #FFFFFF);
    -moz-background: -moz-linear-gradient(to top, #f2f5f6, #FFFFFF);
    -webkit-background: -webkit-linear-gradient(to top, #f2f5f6, #FFFFFF);
    text-align: center;
}

div.ec-serv_img img {
    width: 142px;
    height: 142px;
    border-radius: 4px;
    margin: 8px 0px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.55);
}

div.ec-serv_img div {
    width: 132px;
    height: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.09);
    margin: auto;
    margin-top: 9px;
    padding: 5px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.14);
}

div.ec-serv_cont {
    width:365px;
    height: 200px;
    float:left;
    margin:0px 0px 0px 20px;
}

div.ec-serv_detailed {
    float:right;
    margin-right: 18px;
}

div.ec-serv_text {
    max-height: 155px;
    overflow: hidden;
    margin-bottom: 10px;
}

div.ec-serv_text p {
    color: #757575;
    font-size: 16px;
    line-height: 16px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.57);
    -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.57);
    -webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.57);
}

div.ec-serv_text h2 {
    margin:0px 0px 0px 0px;
    color:#488da5;
    font-size:30px;
    font-weight:normal;
    line-height: 27px;
    margin-bottom: 15px;
}

div.ec-serv_about {
    color: #757575;
    font-size: 26px;
    line-height: 28px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.57);
    -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.57);
    -webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.57);
    text-align: center;
    margin: 15px;
}

div.ec-serv_buttons {
    background-color: #FFF;
    margin: 35px auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.63);
    display: inline-block;
    border-radius: 10px;
    background: linear-gradient(to top, #F2F5F6, #FFF);
    background: -moz-linear-gradient(to top, #f2f5f6, #FFFFFF);
    background: -webkit-linear-gradient(to top, #f2f5f6, #FFFFFF);
    padding: 20px 0px 25px 0px;
    border-bottom: 4px solid #B4B4B4;
}

div.ec-serv_buttons div {
    margin-left:11px;
    text-align:center;
    
}

div.ec-serv_buttons div button {
    width: 250px!important;
    height: 55px!important;
    padding: 13px 11px 21px 10px!important;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.46);
    -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.46);
    -webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.46);
    color: #552D02;
    font-weight: bold;
    font-size: 17px;
}

div.ec-serv_buttons div button:hover, div.ec-serv_buttons div button:active {
    color:#794003;
    box-shadow: 0px 2px 0px #9B5103;
    -moz-box-shadow: 0px 2px 0px #9b5103;
    -webkit-box-shadow: 0px 2px 0px #9B5103;
    margin: 2px 0px -2px 0px;
}


/*
    Стиль для страницы О нас.
*/


div.ec-about_page {
    margin-left:0px;
}

div.ec-about_block {
    /*width:545px;*/
    position:relative;
    float:left;
    border-bottom: 1px dashed #B6B6B6;
    border-top: 1px dashed rgba(247, 247, 247, 0.95);
    padding: 13px 0px;
}

div.ec-about_img {
    width:160px;
    height: 160px;
    float:left;
    display: inline-block;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
    display: inline-block;
    border-radius: 6px;
    border-bottom: 3px solid #A0A0A0;
    background: linear-gradient(to top, #f2f5f6, #FFFFFF);
    -moz-background: -moz-linear-gradient(to top, #f2f5f6, #FFFFFF);
    -webkit-background: -webkit-linear-gradient(to top, #f2f5f6, #FFFFFF);
    text-align: center;
}

div.ec-about_img img {
    width: 142px;
    height: 142px;
    border-radius: 4px;
    margin: 8px 0px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.55);
}


div.ec-about_cont {
    float:left;
    margin:15px 0px 0px 20px;
}

div.ec-about_detailed {
    float:right;
    margin-right: 18px;
}

div.ec-about_text {
    max-height: 155px;
    overflow: hidden;
    margin-bottom: 10px;
}

div.ec-about_text p {
    color: #757575;
    font-size: 20px;
    line-height: 16px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.57);
    -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.57);
    -webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.57);
}

div.ec-about_text p span {
    font-weight:bold;
}

div.ec-about_text p span.sep {
    font-weight:normal;
    margin:0px 10px;
}

div.ec-about_text p img {
    width: 20px;
    margin: 0px 10px 0px 0px;
}


div.ec-about_text h2 {
    margin:0px 0px 0px 0px;
    color:#488da5;
    font-size:30px;
    font-weight:normal;
    line-height: 27px;
    margin-bottom: 15px;
}

div.ec-about_text h2 span{
    font-size:20px;
    font-style:italic;
    margin-left: 10px;
}

div.ec-about_about {
    color: #757575;
    font-size: 26px;
    line-height: 28px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.57);
    -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.57);
    -webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.57);
    text-align: center;
    margin: 15px;
}

div.ec-about_buttons {
    background-color: #FFF;
    margin: 35px auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.63);
    display: inline-block;
    border-radius: 10px;
    background: linear-gradient(to top, #F2F5F6, #FFF);
    background: -moz-linear-gradient(to top, #f2f5f6, #FFFFFF);
    background: -webkit-linear-gradient(to top, #f2f5f6, #FFFFFF);
    padding: 20px 0px 25px 0px;
    border-bottom: 4px solid #B4B4B4;
}

div.ec-about_buttons div {
    margin-left:0px;
    text-align:center;
    
}

div.ec-about_buttons div button {
    width: 250px!important;
    height: 55px!important;
    padding: 13px 11px 21px 10px!important;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.46);
    -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.46);
    -webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.46);
    color: #552D02;
    font-weight: bold;
    font-size: 17px;
}

div.ec-about_buttons div button:hover, div.ec-serv_buttons div button:active {
    color:#794003;
    box-shadow: 0px 2px 0px #9B5103;
    -moz-box-shadow: 0px 2px 0px #9b5103;
    -webkit-box-shadow: 0px 2px 0px #9B5103;
    margin: 2px 0px -2px 0px;
}

/*
    Стиль для breadcrumb
*/

.ec-breadcrumb {
	margin-left:0px!important;
	background-color: #FFF;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	display: inline-block;
	border-radius: 10px;
	background: linear-gradient(to top, #F2F5F6, #FFF);
	background: -moz-linear-gradient(to top, #f2f5f6, #FFFFFF);
	background: -webkit-linear-gradient(to top, #f2f5f6, #FFFFFF);
	padding: 20px 0px 25px 0px;
	border-bottom: 3px solid #B4B4B4;
}
