@import url("components.css");

html, body {
    background: #fff;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

.site-header, .site-content {
    padding: 20px 0;
}

.site-header {
    background: #fff;
    text-align: center;
}

    .site-header h1 a {
        color: #000;
        text-decoration: none;
    }


.site-main-nav:before, .site-main-nav:after {
    content: " ";
    display: table;
}
.site-main-nav:after { clear: both; }

.site-main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-main-nav > ul {
    display: inline-block;
}

    .site-main-nav > ul > li {
        float: left;
    }

    .site-main-nav a {
        display: block;
        padding: 0 10px;
        font-size: 14px;
        line-height: 24px;
        color: #000;
        text-decoration: none;
    }

    .site-main-nav a > span {
        display: inline-block;
        padding: 3px 0;
        border-bottom: 1px transparent solid;
    }

    .site-main-nav [data-level="0"] > li {
        position: relative;
    }

    .site-main-nav [data-level="0"] > a {
        font-weight: bold;
    }

    .site-main-nav ul[data-level="0"] > li.active > a > span {
        border-bottom: 1px #000 solid;
    }

    .site-main-nav ul[data-level="1"] {
        display: none;
        position: absolute;
        left: 50%;
        top: calc(100% - 1px);
        width: 150px;
        transform: translateX(-50%);
        padding: 10px;
        background: #fff;
        text-align: left;
        border: 1px #eee solid;
        border-radius: 2px;
    }

    .site-main-nav li:hover ul[data-level="1"] {
        display: block;
    }


.site-top {
    padding: 20px 0;
    background: #fafafa;
}

.site-content {

}

.site-footer {
    padding-top: 20px;
}