Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

# deny access to system files
<Files ~ "\.(sqlite|SQLITE|sdb|SDB|s3db|S3DB|db|DB|json|JSON|md|MD|lexy\.php)$">
  Deny from all
</Files>