#slides2 .slidesjs-navigation {
    margin-top: 3px;
    position: absolute;
    width: 29px;
    height: 51px;
}

#slides2 .slidesjs-previous {
    float: left;
    background: url(../images/arrow-prev.png) no-repeat;
    left: 0;
    margin-top: -116px;
}

#slides2 .slidesjs-next {
    margin-right: 5px;
    float: right;
    background: url(../images/arrow-next.png) no-repeat;
    right: 0;
    margin-top: -116px;
}

.slidesjs-pagination {
    margin: 6px 0 0;
    float: right;
    list-style: none;
    margin-right: 477px;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

.slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url(../images/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.slidesjs-pagination li a.active,.slidesjs-pagination li a:hover.active
    {
    background-position: 0 -12px;
}

.slidesjs-pagination li a:hover {
    background-position: 0 -25px;
}

#slides a:link,#slides a:visited {
    color: #333
}

#slides a:hover,#slides a:active {
    color: #9e2020
}

.navbar {
    overflow: hidden
}

#slides,#slides2 {
    display: none
}

#slides2 .slidesjs-pagination {
    display: none
}

.ec_slider_container {
    margin: 0 auto;
    width: 1000px;
    float: left;
    margin-bottom: 30px;
}

.ec_slider_container2 {
    margin: 0 auto;
    width: 1216px;
    /* float: left; */
    background: url(../images/asorti.png);
    margin-bottom: 10px;
    margin-top: -39px;
    height: 271px;
    position: relative;
    /* margin-left: 52px; */
    zoom: 0.8;
}

.ec_slider_container3 {
    margin: 0 auto;
    width: 1170px;
    margin-bottom: 10px;
    position: relative;
    margin-top: 100px;
}

.slidesjs-container {
    width: 1000px;
    height: 356px
}

#slides2 .slidesjs-container {
    width: 190px;
    height: 90px
}

.list_carousel {
    width: 1174px;
    margin-left: 91px;
    position: relative;
}

.list_carousel .slider_photogallery {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    margin-top: 43px !important;
}

.list_carousel .slider_photogallery li {
    width: 129px;
    height: 129px;
    padding: 0;
    margin: 0px 9px 9px 9px !important;
    display: block;
    float: left;
}

.list_carousel  #slider_news {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.list_carousel #slider_news li {
    width: 630px;
    height: 200px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    z-index: 10;
}

.list_carousel.responsive {
    width: auto;
    margin-left: 0;
}

.clearfix {
    float: none;
    clear: both;
}

.prev {
    float: left;
    background: url(../images/arrow-prev.png) no-repeat;
    position: absolute;
    left: -130px;
    display: block !important;
    z-index: 100;
    margin-top: -140px;
    width: 40px;
    height: 74px;
}

.next {
    margin-right: 5px;
    float: right;
    background: url(../images/arrow-next.png) no-repeat;
    position: absolute;
    right: 0;
    display: block !important;
    margin-top: -140px;
    width: 40px;
    height: 74px;
}

.prev_news {
    float: left;
    background: url(../images/arrow-prev.png) no-repeat;
    position: absolute;
    left: -48px;
    display: block !important;
    z-index: 100;
    margin-top: -148px;
    width: 40px;
    height: 74px;
}

.next_news {
    margin-right: 5px;
    float: right;
    background: url(../images/arrow-next.png) no-repeat;
    position: absolute;
    right: -26px;
    display: block !important;
    margin-top: -148px;
    width: 40px;
    height: 74px;
}

.ec_slider_container2 .caroufredsel_wrapper {
    clear: both;
    margin-top: 0px !important;
    margin-left: 43px !important;
}

.ec_slider_container4 .caroufredsel_wrapper {
    margin-top: 0px !important;
    margin-left: 53px !important;
}

.ec_slider_container3 .list_carousel {
    width: 1320px;
    position: relative;
    margin-left: 0px;
    margin-left: 15px;
}

.ec_slider_container3  .caroufredsel_wrapper {
    width: 1297px !important;
}

@-moz-document url-prefix  () { .list_carousel .slider_photogallery{
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
    }
    
    .slider_fix {
        position: absolute;
        z-index: 1500;
        height: 196px;
        width: 100px;
        top: 49px;
        left: 44px;
        background: url(../images/asorti.png) no-repeat;
        background-position: -44px -49px;
    }
}

.list_carousel .slider_photogallery {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.slider_fix {
    position: absolute;
    z-index: 150;
    height: 196px;
    width: 100px;
    top: 49px;
    left: 44px;
    background: url(../images/asorti.png) no-repeat;
    background-position: -44px -49px;
}

.slider_fon {
    background: url(../images/slider_fon.png) no-repeat;
    background-position: center top;
    width: 100%;
    position: absolute;
    height: 232px;
    margin-top: 61px;
    /* background-size: contain; */
}

.all_people {
    clear: both;
    float: right;
    margin-top: 5px;
    color: #60696e;
    border-bottom: 1px dotted #60696e;
    margin-right: 86px;
}

.our_faces {
    background: url(../images/our_faces.png) no-repeat;
    position: absolute;
    width: 394px;
    height: 89px;
    left: -10px;
    top: -77px;
}