.ec_customer_info {
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.ec_customer_info_block {
    margin-top: 10px;
}

.ec_user_info {
    height: 100%;
    vertical-align: middle;
}

.ec_user_info_block {
    margin-top: 5px;
}