.ec-footer-menu {
	text-align: center;
	padding-left: 0px!important;
	padding-bottom: 10px;
	margin: 0px!important;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
}

.ec-footer-menu li {
	display: inline;
	margin: 0px 5px;
	text-transform: uppercase;
	color: #969696;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
	-moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
	-webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
	font-size: 13px;
}

.ec-footer-menu li a {
	color: #706F6F!important;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
	-moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
	-webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
	font-size: 12px;
}

.ec-footer-menu li a:hover, .ec-footer-menu li a:active {
	color: #b49a23;
	text-decoration: none;
}

.ec-footer-menu li a span {
	margin-top: 3px;
}

/*
	Контактная информация
*/

.ec-footer-contacts {
	margin-left:0px!important;
	text-align: center;
	margin-top: 15px;
	padding-bottom: 5px;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
}

.ec-footer-contacts p {
	color: #706F6F!important;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
	-moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
	-webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
	font-size: 13px;
}

.ec-footer-contacts p span {
	text-transform: uppercase;
}