/**
 * Содержимое фильтра поиска
 */
.ec-search-filter-content {
    padding-bottom: 5px;
}
/**
 * Стиль для активного в текущий момент фильтра поиска.
 */
.ec-search-filter-content-active {
    background-color: #aaa;
    border-width: 1px;
    border-color: #fff;
    border-radius: 10px;
}

.ec-search-filter-title {
    margin-top: 0px;
    margin-bottom: 5px;
}

.ec-search-filter-title-active {
    color: #FFF;
    font-weight: bold;
}

/**
 * Исправляет расположение подписей в виджете (делает их сразу же за галочкой/кнопкой)
 */
.ec-search-filter-inline-input {
    display: inline;
}

/**
 * Стиль текстового поля в котором отображается выбираемое значение слайдера
 */
.ec-search-filter-slider-info {
    width: 90%;
}
/**
 * Стиль самого слайдера
 */
.ec-search-filter-slider {
    width: 95%;
    margin-bottom: 5px;
}