/**
 * Свернутый участок формы анкеты пользователя.
 */
.qform_subsection
{
    background: #222222;
    border-radius: 6px;
    padding: 10px;
    margin:4px;
    margin-right: 20px;
}
/**
 * Заголовок для списка сложных значений
 */
.qform_subsection_label
{
    border-style: none;
    color: inherit;
    font-family: inherit;
    font-size: 17.5px;
    line-height: 20px;
    text-rendering: optimizelegibility;
}
/**
 * Исправление неровного расположения элемента asmselect
 */
.qform_asmselect_fix
{
    
}
