.icon_office {
    background: url(../images/office.png) no-repeat;
    background-position: 33px 14px;
}
.icon_calendar {
    background: url(../images/calendar.png) no-repeat;
    background-position: 33px 17px;
}

.icon_casting {
    background: url(../images/casting.png) no-repeat;
    background-position: 35px 17px;
}

.icon_konsultant {
    background: url(../images/konsultant.png) no-repeat;
    background-position: 35px 17px;
}

.icon_galery {
    background: url(../images/gallery.png) no-repeat;
    background-position: 34px 18px;
}
.icon_news {
    background: url(../images/news.png) no-repeat;
    background-position: 33px 14px;
}
.icon_forum {
    background: url(../images/forum.png) no-repeat;
    background-position: 33px 21px;
}

.choose_your_side li a.icon_office:hover  {}
.choose_your_side li a.icon_calendar:hover  {
    background-position: 33px -88px;
}

.choose_your_side li a.icon_galery:hover  {
    background-position: 33px -87px;
}
.choose_your_side li a.icon_news:hover  {}
.choose_your_side li a.icon_forum:hover  {}
.choose_your_side li a.icon_casting:hover  {
    background-position: 35px -89px;
}
.choose_your_side li a.icon_konsultant:hover  {
    background-position: 35px -89px;
}

.icon_zakaz {
    background: url(../images/zakaz.png) no-repeat;
    background-position: 31px 14px;
}

.icon_faces {
    background: url(../images/faces.png) no-repeat;
    background-position: 33px 14px;
}
.icon_search {
    background: url(../images/search.png) no-repeat;
    background-position: 37px 14px;
}
.icon_services {
    background: url(../images/services.png) no-repeat;
    background-position: 36px 14px;
}
.icon_projects {
    background: url(../images/projects.png) no-repeat;
    background-position: 35px 17px;
}
.icon_how-it-work {
    background: url(../images/how-it-work.png) no-repeat;
    background-position: 33px 14px;
}
.icon_locations {
    background: url(../images/locations.png) no-repeat;
    background-position: 34px 22px;
}
.icon_about {
    background: url(../images/about.png) no-repeat;
    background-position: 35px 21px;
}

.choose_your_side li a.icon_zakaz span, 
.choose_your_side li a.icon_services span, 
.choose_your_side li a.icon_projects span, 
.choose_your_side li a.icon_how-it-work span,
.choose_your_side li a.icon_casting span,
.choose_your_side li a.icon_office span,
.choose_your_side li a.icon_galery span,
.choose_your_side li a.icon_konsultant span {
    margin-top:105px;
}

.choose_your_side li a.icon_zakaz:hover  { }
.choose_your_side li a.icon_faces:hover  { }
.choose_your_side li a.icon_search:hover  { }
.choose_your_side li a.icon_services:hover  { }
.choose_your_side li a.icon_projects:hover  {
    background-position: 35px -87px;
}
.choose_your_side li a.icon_how-it-work:hover  { }
.choose_your_side li a.icon_locations:hover  { }
.choose_your_side li a.icon_about:hover  { }

.choose_your_side li:hover {background: url(../images/razdel_hover.png) no-repeat;}
.choose_your_side .choose_active {background: url(../images/razdel_hover.png) no-repeat;color: white;}
.choose_your_side .choose_active a {color: white;}

.choose_your_side li a img {
    width: auto;
    margin: 0 auto;
}
.choose_your_side li a span{
    display: block;

    text-align: center;
    width: 135px;
    margin: auto;
    float: left;
    position: relative;
    margin-top: 125px;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 116px;
    padding: 0px 13px;
}