.grid, [class*=grid-cells-] {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.grid, [class*=grid-cells-] > * {
    box-sizing: border-box;
}

[class*=grid-cells-] {
    margin-left: -20px;
}

[class*=grid-cells-] > * {
    padding-left: 20px;
    margin-bottom: 20px;
}

.grid-cells-1-1 { margin-left: 0; }
.grid-cells-1-1 > * { padding-left: 0; }

.grid-center {
    justify-content: center;
}

.grid-cell     { flex: 1; }
.grid-cell-1-1, .grid-cells-1-1 > * { flex: 0 0 100%; }
.grid-cell-1-2, .grid-cells-1-2 > * { flex: 0 0 50%; }
.grid-cell-1-3, .grid-cells-1-3 > * { flex: 0 0 33.333%; }
.grid-cell-1-4, .grid-cells-1-4 > * { flex: 0 0 25%; }
.grid-cell-1-5, .grid-cells-1-5 > * { flex: 0 0 20%; }


/* Larger than mobile */
@media (min-width: 400px) {

    .grid-cell-small { flex: 1 !important; }

    .grid-cell-small-1-1, .grid-cells-small-1-1 > * { flex: 0 0 100% !important; }
    .grid-cell-small-1-2, .grid-cells-small-1-2 > * { flex: 0 0 50% !important; }
    .grid-cell-small-1-3, .grid-cells-small-1-3 > * { flex: 0 0 33.333% !important; }
    .grid-cell-small-1-4, .grid-cells-small-1-4 > * { flex: 0 0 25% !important; }
    .grid-cell-small-1-5, .grid-cells-small-1-5 > * { flex: 0 0 20% !important; }

    [class*=grid-cells-small-] {
        margin-left: -20px;
    }

    .grid-cells-small-1-1 { margin-left: 0 !important;}
    .grid-cells-small-1-1 > * { padding-left: 0 !important;}
}

/* Larger than tablet */
@media (min-width: 750px) {

    .grid-cell-medium { flex: 1 !important; }

    .grid-cell-medium-1-1, .grid-cells-medium-1-1 > * { flex: 0 0 100% !important; }
    .grid-cell-medium-1-2, .grid-cells-medium-1-2 > * { flex: 0 0 50% !important; }
    .grid-cell-medium-1-3, .grid-cells-medium-1-3 > * { flex: 0 0 33.333% !important; }
    .grid-cell-medium-1-4, .grid-cells-medium-1-4 > * { flex: 0 0 25% !important; }
    .grid-cell-medium-1-5, .grid-cells-medium-1-5 > * { flex: 0 0 20% !important; }

    [class*=grid-cells-medium-] {
        margin-left: -20px;
    }

    .grid-cells-medium-1-1 { margin-left: 0 !important;}
    .grid-cells-medium-1-1 > * { padding-left: 0 !important;}
}

/* Larger than desktop */
@media (min-width: 1000px) {

    .grid-cell-large { flex: 1 !important; }

    .grid-cell-large-1-1, .grid-cells-large-1-1 > * { flex: 0 0 100% !important; }
    .grid-cell-large-1-2, .grid-cells-large-1-2 > * { flex: 0 0 50% !important; }
    .grid-cell-large-1-3, .grid-cells-large-1-3 > * { flex: 0 0 33.333% !important; }
    .grid-cell-large-1-4, .grid-cells-large-1-4 > * { flex: 0 0 25% !important; }
    .grid-cell-large-1-5, .grid-cells-large-1-5 > * { flex: 0 0 20% !important; }

    [class*=grid-cells-large-] {
        margin-left: -20px;
    }

    .grid-cells-large-1-1 { margin-left: 0 !important;}
    .grid-cells-large-1-1 > * { padding-left: 0; !important}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

    .grid-cell-hd { flex: 1 !important; }

    .grid-cell-hd-1-1, .grid-cells-hd-1-1 > * { flex: 0 0 100% !important; }
    .grid-cell-hd-1-2, .grid-cells-hd-1-2 > * { flex: 0 0 50% !important; }
    .grid-cell-hd-1-3, .grid-cells-hd-1-3 > * { flex: 0 0 33.333% !important; }
    .grid-cell-hd-1-4, .grid-cells-hd-1-4 > * { flex: 0 0 25% !important; }
    .grid-cell-hd-1-5, .grid-cells-hd-1-5 > * { flex: 0 0 20% !important; }

    [class*=grid-cells-hd-] {
        margin-left: -20px;
    }

    .grid-cells-hd-1-1 { margin-left: 0 !important;}
    .grid-cells-hd-1-1 > * { padding-left: 0 !important;}
}