.ec-event-info-logo {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
    float: left;
    margin: 5px;
    padding: 5px;
    margin-right: 10px;
    width: 90%;
    cursor: pointer;
}